<template>
<div>
    <Blocks/>

</div>
    
</template>

<script>
import Blocks from '@/components/Property/blocksAndWings/blocksAndWings'
export default {
    components:{
        Blocks
    }
}
</script>