<template>
      <div class="resizeBox">
          <!-- <script src="./../../assets/css/style.css"></script> -->
								<!-- tabel part -->
								<div  v-if="data.results" class="table-responsive tableHolder tableHolderA">
									<table v-if="idr=='fo'" class="table">
										<thead>
											<tr>
												<th>Image</th>
												<th>Flat Owner</th>
												<th>Phone Number</th>
												<th>Email</th>
												<th>Units</th>
												<th>Registered</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody v-if="data.results.length>0">
											<tr v-for="item of data.results" :key="item.id">
												
												<td>
													<span style="display:block" class="userProfPic">
                                                        <img v-if="item.image" :src="item.image" alt="">
														<img v-else src="https://www.kindpng.com/picc/m/495-4952535_create-digital-profile-icon-blue-user-profile-icon.png">
                                                    </span>
												</td>
												<td>
                                                    {{item.first_name}} {{item.last_name}}
													<!-- <span v-if="item.issue_status==='OPENED'" class="cstmBadge badge-success">{{item.issue_status}}</span>
													<span v-else class="cstmBadge badge-danger">{{item.issue_status}}</span> -->
												</td>
												<!-- <td>{{item.designation}}</td> -->
												<td>{{item.country_code}}{{item.phone_number}}</td>
												<td v-if="item.email!=''">{{item.email}}</td>
												<td v-else><span class="cstmBadge " style="background-color:rgb(169, 169, 169);">N/A</span></td>
												<td v-if="item.unit_occupancies">
                                                    <p v-for="unit of item.unit_occupancies" :key="unit.id">
                                                        {{unit.unit.block_name}}-{{unit.unit.unit_no}}
                                                    </p>
                                                    </td>
													<!-- <td v-else><span class="cstmBadge " style="background-color:grey">N/A</span></td> -->
												<!-- <td>
                                                    <span v-if="item.is_approved==='APPROVED'" class="cstmBadge badge-success">{{item.is_approved}}</span>
													<span v-else class="cstmBadge badge-danger">{{item.is_approved}}</span>
                                                </td> -->
												<td></td>
												<td>
													<span  class="cstmBadge customBtn">
														<button @click='currentItem(item)' type="button" class="btn" data-toggle="modal" :data-target="idR(item.id,item.first_name,item.last_name,idr)">
														<i class="fa fa-edit"></i> 
														</button>
														<UModal 
															:id="item.id+item.first_name+item.last_name+idr"
															:users="selectedItem"
															:units2="[]"
														/>
														
													</span>
													<span class="cstmBadge customBtn" >
														<button type="button" @click='currentItemD(item)' data-toggle="modal" :data-target="idD(item.id,idr)"  class="btn">
														<i class="fa fa-trash"></i> 
														</button>
														<DModal
														:id="+item.id+idr"
															:userId="selectedItemD.id"
														/>
													</span>
												</td>
												
											</tr>

										</tbody>
										<tbody v-else>
											No Data to Show
										</tbody>
									</table>
									<table v-else class="table">
										<thead>
											<tr>
												<th>Image</th>
												<th>Flat Owner</th>
												<!-- <th>Designation</th> -->
												<th>Phone Number</th>
												<th>Email</th>
												<th >Units</th>
												<th>Registered</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody v-if="data.results.length>0">
											<tr v-for="item of data.results" :key="item.id">
												
												<td>
													<span style="display:block" class="userProfPic">
                                                        <img v-if="item.image" :src="item.image_url" alt="">
														<img v-else src="https://www.kindpng.com/picc/m/495-4952535_create-digital-profile-icon-blue-user-profile-icon.png">
                                                    </span>
												</td>
												<td>
                                                    {{item.first_name}} {{item.last_name}}
													<!-- <span v-if="item.issue_status==='OPENED'" class="cstmBadge badge-success">{{item.issue_status}}</span>
													<span v-else class="cstmBadge badge-danger">{{item.issue_status}}</span> -->
												</td>
												<!-- <td>{{item.designation}}</td> -->
												<td>{{item.country_code}}{{item.phone}}</td>
												<td v-if="item.email!=''">{{item.email}}</td>
												<td v-else><span class="cstmBadge " style="background-color:rgb(169, 169, 169);">N/A</span></td>
												<td v-if="item.unit">
                                                    <!-- <p v-for="unit of item.unit_occupancies" :key="unit.id"> -->
                                                        {{item.unit.block_name}}-{{item.unit.unit_no}}
                                                    <!-- </p> -->
                                                    </td>
													<!-- <td v-else><span class="cstmBadge " style="background-color:grey">N/A</span></td> -->
												<!-- <td>
                                                    <span v-if="item.is_approved==='APPROVED'" class="cstmBadge badge-success">{{item.is_approved}}</span>
													<span v-else class="cstmBadge badge-danger">{{item.is_approved}}</span>
                                                </td> -->
												<td></td>
												<td>
													<span  class="cstmBadge customBtn">
														<button @click='currentItem(item)' type="button" class="btn" data-toggle="modal" :data-target="idR(item.id,item.first_name,item.last_name,idr)">
														<i class="fa fa-edit"></i> 
														</button>
														<UModal 
															:id="item.id+item.first_name+item.last_name+idr"
															:users="selectedItem"
															:units2="[]"
														/>
														
													</span>
													<span class="cstmBadge customBtn" >
														<button type="button" @click='currentItemD(item)' data-toggle="modal" :data-target="idD(item.id,idr)"  class="btn">
														<i class="fa fa-trash"></i> 
														</button>
														<DModal
														:id="+item.id+idr"
															:userId="selectedItemD.id"
														/>
													</span>
												</td>
												
											</tr>

										</tbody>
										<tbody v-else  class="text-center">
											<p style="width:fit-content"> No Data to Show</p>
										</tbody>
									</table>
									
								</div>
                            </div>
</template>
<script>
import UModal from './UserModal'
import {mapGetters} from 'vuex'

import DModal from './deleteUserModal'
export default {
	components:{
		UModal,
		DModal
	},
	data(){
		return{
			unittf:true,
			selectedItem:'',
			selectedItemD:''
		}
	},
    props:{
        data:{
             type:Object,
             required:true
        },idr:{
			type:String,
			required:true
		}
    },
	async fetch() {
		this.$store.dispatch('units');	 
	},
	methods:{
	// unit_names(user){
	// 	console.log(user);
    //   let unit2=[];
	//   if(user.unit_occupancies){
	// 	//   for(let unit of user.unit_occupancies){
	// 	//   console.log(user);
    //     //   let a={
    //     //     name:unit.block.block_name+"-"+unit.unit_no,
    //     //     id:unit.id
    //     //   }
    //     //   unit.push(a);
	//   }
	//   else{
	// 	  for(let unit of user.units){
	// 	  console.log(user);
    //       let a={
    //         name:unit.block.block_name+"-"+unit.unit_no,
    //         id:unit.id
    //       }
    //       unit2.push(a);
    //   }
	//   }
      
    //   console.log(unit2);
    //   return unit2;
    // },
		currentItem(i){
			console.log(this.selectedItem);
			this.selectedItem=i;	
			console.log(this.selectedItem);
		},
		currentItemD(i){
			console.log(this.selectedItemD);
			this.selectedItemD=i;	
			console.log(this.selectedItemD);
		},
		idR(id,name,l,i){
			
				return '#'+id+name+l+i;
			
			
		},
		idD(id,i){
			
				return '#del'+id+i;
			
			
		}
	},
	created(){
		// console.clear();
		console.log(this.data);
	},
	 computed:{
		...mapGetters({units:"getUnits"}),
	},
}
</script>