<template>
  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModalCenter1"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button
            type="button"
            class="close"
            id="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <vue-step-progress-indicator
              :steps="[
                  '',
                  '',
              ]"
              :active-step="step"
          />
          <div v-if="step==0" class="text-center">
            <h2>Search Flat Owner By Phone</h2>
          </div>
          <form v-if="step==0" class="userForm">
            
            <div class="inputCol">
              
              <div class="inputWrap">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Phone Number"
                  v-model="phone.email"
                />
                
              </div>
             
            </div>
             <div class="text-center mt-4">
              <button @click.prevent="findUser" class="btn btn-primary">
                Search
              </button>
            </div>
          </form>
          <div v-if="step==1" class="text-center">
            <h2>Create Tenant</h2>
          </div>
          <form v-if="step==1" class="userForm">
            <div class="inputCol">
              <div class="inputWrap">
                <input
                  type="text"
                  class="form-control"
                  placeholder="First Name"
                  v-model="tenantUser.user.first_name"
                />
                <!-- <p style="color:red">{{emailError}}</p> -->
              </div>
              
              <div class="inputWrap">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Last Name"
                  v-model="tenantUser.user.last_name"
                />
              </div>
              <!-- <p style="color:red">{{emailError}}</p> -->
            </div>
            <div class="inputCol">
              <div class="inputWrap">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  v-model="tenantUser.user.email"
                />
                <!-- <p style="color:red">{{emailError}}</p> -->
              </div>
              
              <!-- <div class="inputWrap">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Number"
                  v-model="tenantUser.user.phone_number"
                />
                  <p v-if="errors.errors.phone_number" style="color: red">
                {{ errors.errors.phone_number }}
              </p>
              </div> -->
             
            </div>

            <div class="inputCol">
              <div class="inputWrap">
                <!-- <multiselect v-model="units2" tag-placeholder="Add this as new tag" track-by="id" placeholder="Search or add a tag" label="name"  :options="unit_names()" :multiple="true" :taggable="true" @tag="addTag"></multiselect> -->
                <!-- <multiselect v-model="units2" tag-placeholder="Add this as new tag" placeholder="Search or add a tag" label="name" track-by="code" :options="unit_names()" :multiple="true" :taggable="true" @tag="addTag"></multiselect> -->
                <!-- <div class="inputSelect">
              <span
                v-for="item of units2"
                :key="item.id"
                class="cstmBadge badge-success"
                >{{item.name}}
                <a href="#" @click="deleteUnit(item)"> &#10005;</a></span>
              </div> -->
                <v-select
                  v-model="avlUnits"
                  multiple
                  :options="unit_names()"
                  label="name"
                ></v-select>
                 <!-- <p v-if="errors.errors.unit_flat_no" style="color: red">
                {{ errors.errors.unit_flat_no }}
              </p> -->
              </div>
            </div>
           
            <div class="text-center mt-4">
              <button @click.prevent="submit" class="btn btn-primary">
                Submit
              </button>
            </div>
            <!-- <p v-if="errors.type === 'error'" style="color: red">
              {{ errors.message }}
            </p> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import vSelect from "vue-select";
import { mapGetters } from "vuex";
import Multiselect from "vue-multiselect";
import VueStepProgressIndicator from "vue-step-progress-indicator";
Vue.component("v-select", vSelect);
import "vue-select/dist/vue-select.css";
export default {
  components: { Multiselect },
  props: ["units"],
  data() {
    return {
      avlUnits: [],
      step:0,
      phone:{
        email:""
      },
      flatwnersObj: {
        search_params: "",
        block_id: "",
        unit_id: "",
      },
      requestedUsersObj: {
        search_params: "",
      },
      allUsersObj: {
        search_params: "",
      },
      units2: [],
      user: {
        first_name: "",
        last_name: "",
        email: "",
        phone_number: "",
        designation: "",
        committee_member: false,
        unit_flat_no: [],
      },
    };
  },
  computed: {
    ...mapGetters({ tenantUser: "getTenantUser" }),
    ...mapGetters({ units: "getUnits" }),
  },
  methods: {
    closeModal() {
      document.getElementById("close").click();
    },
    modal() {
      if (this.errors.type != "error") {
        console.log("model");
        return "modal";
      }
      return "";
    },
    unit_names() {
      let unit_names = [];
      for (let unit of this.units) {
        
          let a = {
            name: unit.block.block_name + "-" + unit.unit_no,
            id: unit.id,
          };
          // this.avlUnits.push(a);
          unit_names.push(a);
        
      }
      console.log(unit_names);
      return unit_names;
    },
    showAlert() {
      this.$swal({
        title: "Susccess!",
        icon: "success",
        showConfirmButton: false,
        timer: 2000,
      });
    },
    findUser(){
      if(this.phone.email==""){
        alert("Please Enter a Phone No")
      }
      else{
        this.$store.dispatch('findByMobile',this.phone).then(()=>{
        if(!this.tenantUser.errors){
          console.log(this.tenantUser);
          this.step++;
        }
      });
      }
    },
    
    refresh() {
      this.$store.dispatch("flatOwners");
      this.$store.dispatch("requestedUsers");
      this.$store.dispatch("allUsers");
      this.$store.dispatch("blocks");
      this.$store.dispatch("units");
    },
  },
  components : {
    VueStepProgressIndicator,
},
};
</script>
<style scoped>
.logoModal {
  margin-bottom: 10px;
  display: block;
}
.userForm {
  padding-top: 20px;
}
.multiselect__tag {
  background: #28a745 !important;
}
</style>