<template>
    <div class="blockRow">
   <div class="forBlock">
     <div class="forHeading">
       <h4>Add Guards</h4>
     </div>
     <div class="forBox">
       <form action="">
         <div class="inputRow row">
           <div class="col-sm-3">
              <input type="text" class="form-control" placeholder="First Name" style="margin-bottom:15px" v-model="guard.first_name">
               <p style="color:red" v-if="addGuardsError.errors">{{addGuardsError.errors.first_name}}</p>
           </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" placeholder="Last Name" style="margin-bottom:15px" v-model="guard.last_name">
               <p style="color:red" v-if="addGuardsError.errors">{{addGuardsError.errors.last_name}}</p>
           </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" placeholder="Phone Number" style="margin-bottom:15px" v-model="guard.phone_number">
              <p style="color:red" v-if="addGuardsError.errors">{{addGuardsError.errors.phone_number}}</p>
           </div>
           <div class="col-sm-3">
              <button class="btn btn-primary btn-block" @click.prevent="addGuards()" >Save</button>
           </div>
           </div> 

    </form>
     </div>
   </div>
<Tables
:data1="tableData"
/>
</div>
</template>
<script>
import Tables from './table'
import {mapGetters} from 'vuex'
export default {
    data(){
        return{
          guard:{
            first_name: "",
            last_name: "",
            phone_number: ""
          },
        }
    },
  methods:{
    addGuards(){
        this.$store.dispatch('addGuard',this.guard).then(()=>{
          if(this.addGuardsError.errors){

          }
          else{
            this.guard={
            first_name: "",
            last_name: "",
            phone_number: ""
          }
          }
        });

    }
  },
  async fetch(){
     this.$store.dispatch('guards');
  },
  computed:{
    ...mapGetters({tableData:"getGuards"}),

     
     ...mapGetters({addGuardsError:"getAddGuards"}),
     
  }
  ,
    components:{
        Tables
    }
}
</script>