<template>
<div class="forBlock">
     <div class="forHeading">
       <div class="d-flex">
          <h4>Guards List</h4>
          <button type="button" class="btn btn-light">
            <i data-v-6d07042e="" aria-hidden="true" class="fa fa-download"></i>
            &nbsp;Download Report
            </button>
       </div>
       
     </div>
     <div class="forBox">
      <div class="table-responsive tableHolder tableHolderB tableHolderC">
       <table class="table">
         <thead>
           <tr>
           <th>#</th> 
           <th>Guard Name</th>
           <th>Guard Phone Number</th> 
           <th>Action</th>

           </tr>
           </thead>
           <tbody>
             <tr v-for="item of data1.guard_list" :key="item.id">
               <!-- <td v-if="curI.id==item.id"></td> -->
               <td >{{item.id}}</td>
               <td v-if="curI.id==item.id">
                 <input type="text" v-model="curI.first_name">
                 <input type="text" v-model="curI.last_name">
               </td>
               <td v-else>{{item.first_name}} {{item.last_name}}</td>
               <td v-if="curI.id==item.id">
                 
                 <input type="text" v-model="curI.phone_number">
               </td>
               <td v-else>{{item.phone_number}}</td>
               <td v-if="curI.id==item.id">
                 	<span  class="cstmBadge customBtn">
														<button @click="save()"  type="button" class="btn" >
														<i class="fa fa-save"></i> 
														</button>
													
														
													</span>
													<span class="cstmBadge customBtn" >
														<button type="button" @click='currentItemD()'   class="btn">
														X
														</button>
													
									</span>
               </td>
               <td v-else>
													<span  class="cstmBadge customBtn">
														<button @click='currentItem(item)' type="button" class="btn" >
														<i class="fa fa-edit"></i> 
														</button>
													
														
													</span>
													<span class="cstmBadge customBtn" >
														<button type="button"    class="btn">
														<i class="fa fa-trash"></i> 
														</button>
													
													</span>
								  </td>
             </tr>
           </tbody>
       </table>
      </div>
     </div>
   </div>
</template>
<script>

import {mapGetters} from 'vuex'
export default {
  data(){
    return{
          filter:"0",
          unit:"0",
          vehicle_no:"",
          owner_id:"0",
          parking_id:"0",
          curI:{}


    }
  },
  methods:{
    currentItem(item){
      this.curI=item;
    },
    currentItemD(){
      this.curI={};
    },
    save(){
      let guard={
        first_name: this.curI.first_name,
        id: this.curI.id,
        last_name: this.curI.last_name,
        phone_number: this.curI.phone_number
      }
      this.$store.dispatch('editGuards',guard).then(()=>{
        this.$store.dispatch('guards');
      })
    }
  },
  props:{
    data1:{
      required:true
    }
  },
   async fetch(){
    
  },
  computed:{
      }, 
  watch:{
   
  }
  
}
</script>