<template>
  		<div class="loginPart">
			<div class="brand">
				<a href="#.">
					<img src="images/brand.png" alt="">
				</a>
			</div>
			<header class="mainHeading">
				<h2>Login</h2>
			</header>
			<div class="rgBox">
				<form class="loginForm" @submit.prevent="login">
					<div class="inputField">
						<input type="text" class="form-control" placeholder="Username" v-model="user.email">
					</div>
					<p style="color:red">{{emailError}}</p>
					<div class="inputField">
						<input type="password" class="form-control" placeholder="Password" v-model="user.password">
					</div>
					<p style="color:red">{{passError}}</p>
					<p style="color:red">{{errorMssg}}</p>
					<div class="inputField">
						<input type="submit" value="Login" class="btn btn-warning btn-block">
					</div>
					<a href="#." class="text-success">Forgot your password?</a>
				</form>
				<div class="contactPart">
					<div class="borderHeading">
						<h4>Contact Us</h4>
					</div>
					<ul class="contactList">
						<li>
							<a href="tel:+919748903696">
								<i class="fas fa-phone"></i>
								<span>+91 9748903696 </span></a>
						</li>
						<li>
							<a href="mailto:hello@the360.in"><i class="fas fa-envelope"></i> <span>hello@the360.in
								</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
</template>
<script>
import {mapGetters} from 'vuex'
export default {
    data(){
		return{
			user:{
				email:'',
				password:''
			},
			emailError:'',
			passError:'',
			errorMssg:''
		}
	},
	methods:{
		async login(){
			await this.$store.dispatch('loginUser',this.user);
			console.log(this.loginResponse);
			this.emailError=this.loginResponse.errors.email;
			this.passError=this.loginResponse.errors.password;
			if(this.loginResponse.message!="Validation Error"){
				this.errorMssg=this.loginResponse.message;
			}
			else{
				this.errorMssg='';
			}
		}
	},
	computed:{
		...mapGetters({loginResponse:"getLoginResponse"})
	},
	created(){
		if(this.$auth.loggedIn){
			this.$router.push('/');
		}
		else{
			console.log("not")
		}
	}
}
</script>