<template>
<div class="blockRow">
   <div class="forBlock">
     <div class="forHeading">
       <h4>Add Blocks</h4>
     </div>
     <div class="forBox">
       <form action="">
        <input type="text" class="form-control" style="margin-bottom:15px" placeholder="Block Name" v-model="block.block_name"> 
        <p style="color:red" v-if="createBlock.errors">{{createBlock.errors.block_name}}</p>
        <div v-if="data.blocks" class="progress">
            <div class="progress-bar" role="progressbar" :style="pfData" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            {{data.blocks.length}}/{{data.property.no_of_blocks}}  <!--{{pData}}%-->
            </div>
        </div>
        <button class="btn btn-primary mt-3" @click.prevent="createUnit()" >Save</button>
    </form>
     </div>
   </div>
<Tables/>
</div>
</template>
<script>
import Tables from './tables'
import {mapGetters} from 'vuex'
export default {
    data(){
        return{
           block:{
             block_name:''
           }
        }
    },
  methods:{
    refresh(){
      this.$store.dispatch('adminData').then(()=>{
        console.log(this.data)
      });
      
		},
    createUnit(){
      this.$store.dispatch('createBlock',this.block).then(()=>{
        console.log(this.createBlock);
        this.block.block_name='';
      });
		
    }
       
  },
  async fetch(){
    this.refresh();
  },
  computed:{
    ...mapGetters({data:"getAdminData"}),
    ...mapGetters({createBlock:"getCreateBlock"}),
     pData(){
            
            let a=this.data.blocks.length/this.data.property.no_of_blocks*100;
            console.log(a);

        return String(a).substring(0,5);
    },
    pfData(){
        console.log(this.data.blocks.length/this.data.property.no_of_blocks*100+'%');
        return 'width:'+this.data.blocks.length/this.data.property.no_of_blocks*100+'%; background-color:#929916';
    }
  }
  ,
    components:{
        Tables
    }
}
</script>