<template>
<div class="forBlock">
     <div class="forHeading">
       <div class="d-flex">
          <h4>Block List</h4>
          <button type="button" class="btn btn-light">
            <i data-v-6d07042e="" aria-hidden="true" class="fa fa-download"></i>
            &nbsp;Download Report
            </button>
       </div>
       
     </div>
     <div class="forBox">
       <form action="">
        <input type="text" class="form-control" placeholder="Block Name" v-model="search_name">
    </form>
      <div class="table-responsive tableHolder tableHolderB">
       <table class="table">
         <thead>
           <tr>
           <th>Block Name</th> 
           <th>Action</th>
           </tr>
           </thead>
           <tbody>
             <tr v-for="item of data2" :key="item.id">
               <td>{{item.block_name}}</td>
               <td>
                 <a href="#." class="editBtn">
                   <button type="button" data-toggle="modal" :data-target="idD(item.id)"  class="btn">
														<i class="fa fa-edit"></i> 
														</button>
                            <BModel
                            :id="item.id"
                            :block="item"
                            />
                 </a>
               </td>
               
             </tr>
           </tbody>
       </table>
      </div>
     </div>
   </div>
</template>
<script>

import {mapGetters} from 'vuex'

import BModel from './UserModal.vue'
export default {
  components:{
    BModel
  },
  data(){
    return{
           search_name:null,
           dupliData:[],
           data:[]
    }
  },
  methods:{
    refresh(){
      this.$store.dispatch('blocksW');
      
		},
    idD(id){
			
				return '#'+id;
			
			
		}
  },
  async fetch(){
    this.refresh();
  },
  computed:{
    ...mapGetters({data1:"getBlocksW"}),
    data2(){
       if(this.search_name){
      return this.data1.filter((item)=>{
        return this.search_name.toLowerCase().split(' ')
        .every(v => item.block_name.toLowerCase().includes(v));
      })
      }else{
        return this.data1;
      }
    }
  }
  
}
</script>