<template>
  <div
    class="modal fade"
    :id="id"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button
            type="button"
            class="close"

            id="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="text-center">
             <h2>Edit Block</h2>
          </div>
          <form class="userForm" @submit.prevent="edit">
            <div class="inputCol">
              <div class="inputWrap">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Block Name"
                  v-model="block.block_name"
                />
                <p style="color:red" v-if="editBlock.errors">{{editBlock.errors.block_name}}</p>
        
              </div>
              
            </div>
            <div class="text-center mt-4">
              <button type="submit" class="btn btn-primary" >Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  components: {
  },
  props: ["block", "id"],
  data() {
    return {
     
    };
  },
  methods:{
    edit(){
      this.$store.dispatch('editBlock',{block_name:this.block.block_name,id:String(this.block.id)}).then(()=>{
        if(!this.editBlock.errors){
          document.getElementById('close').click();
           const click1=document.querySelector("button[id='close']");
            console.log(click1);
        }
      });
      
    }
  },
  computed: {
    ...mapGetters({editBlock:'getEditBlock'})
  },
  watch: {}
}
</script>
<style scoped>
.logoModal {
  margin-bottom: 10px;
  display: block;
}
.userForm {
  padding-top: 20px;
}
.multiselect__tag {
  background: #28a745 !important;
}

</style>