<template>
    <div class="loginPart">
			<Login/>
		</div>
</template>

<script>
import Login from '@/components/Property/login/login.vue'
export default {
    layout:'login',
	components:{
		Login
	},
	
}
</script>