<template>
    <div class="modal fade" :id="idD()" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" id="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="text-center" style="color:black">
          <a href="#." class="logoModal"><img src="https://the360.community/images/logo.png" alt=""></a>
          <header>
            <h1>Delete User</h1>
            <h6>Are you sure you want to delete your user?</h6>
          </header>
        </div>
        <form class="userForm">
          <div class="text-center mt-4 clearfix btnCloseGroup">
            <button  @click.prevent="submit" class="btn btn-primary" data-dismiss="modal">Yes,Delete it</button>
            <button  class="btn btn-danger" data-dismiss="modal">No</button>
          </div> 
        </form>
      </div>
    </div>
  </div>
</div>
</template>
<script>
export default {
  props:[
    'userId','id'
  ],
  data(){
    return{
      flatwnersObj:{
					search_params:'',
					block_id:'',
					unit_id:''
				},
				requestedUsersObj:{
					search_params:''
				},
				allUsersObj:{
					search_params:''
				}
    }
  },
  methods:{
    submit(){
      let user={
        id:this.userId,
      }
      this.$store.dispatch('dltUser',user).then(()=>{
        this.refrsh();
        this.showAlert();
        this.closeModal();
      });
    },
    closeModal() {
   document.getElementById('close').click();
},
  showAlert(){
          this.$swal({
              title: 'Susccess!',
              icon:'success',
              showConfirmButton: false,
              timer: 2000,
           });
  },
    refresh(){
		this.$store.dispatch('flatOwners');
		this.$store.dispatch('requestedUsers');
		this.$store.dispatch('allUsers');
		this.$store.dispatch('blocks');
		this.$store.dispatch('units');
		},
    idD(){
        console.log('del'+this.id);
        return 'del'+this.id;
    }
  }
}
</script>
<style scoped>
.logoModal{
  margin-bottom:10px;
  display:block;
}
.inputWrap + .inputWrap{
  padding-top: 20px
}
.btnCloseGroup .btn {
  float: left;
  width: 50%;
}

</style>