<template>
    <div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="text-center" style="color:black">
          <a href="#." class="logoModal"><img src="https://the360.community/images/logo.png" alt=""></a>
         <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
            <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
            <span class="swal2-success-line-tip"></span>
            <span class="swal2-success-line-long"></span>
            <div class="swal2-success-ring"></div> 
            <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
            <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
            </div>
   
         
        </div>
      </div>
    </div>
  </div>
</div>
</template>
<script>
export default {
  props:[
    'userId','id'
  ],
//   data(){
//     return{
//       flatwnersObj:{
// 					search_params:'',
// 					block_id:'',
// 					unit_id:''
// 				},
// 				requestedUsersObj:{
// 					search_params:''
// 				},
// 				allUsersObj:{
// 					search_params:''
// 				}
//     }
//   },
  methods:{
    submit(){
      let user={
        id:this.userId,
      }
      this.$store.dispatch('dltUser',user);
      this.$store.dispatch('flatOwners',this.flatwnersObj);
      this.$store.dispatch('requestedUsers',this.requestedUsersObj);
      this.$store.dispatch('allUsers',this.allUsersObj);
      this.$store.dispatch('blocks');
      this.$store.dispatch('units');

    },
    idD(){
        console.log('del'+this.id);
        return 'del'+this.id;
    }
  }
}
</script>
<style scoped>
.logoModal{
  margin-bottom:10px;
  display:block;
}
.userForm{
  padding-top: 20px;
}
.inputWrap + .inputWrap{
  padding-top: 20px
}
</style>