<template>
      <div class="resizeBox">
          <!-- <script src="./../../assets/css/style.css"></script> -->
								<!-- tabel part -->
								<div class="table-responsive tableHolder tableHolderA">
									<table class="table">
										<thead>
											<tr>
												<th>Image</th>
												<th>Flat Owner</th>
												<th>Designation</th>
												<th>Phone Number</th>
												<th>Email</th>
												<th v-if="!data.found">Units</th>
												<th>Approval status</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="item of data.users" :key="item.id">
												
												<td>
													<span style="display:block" class="userProfPic">
                                                        <img v-if="item.image" :src="item.image" alt="">
														<img v-else src="https://www.kindpng.com/picc/m/495-4952535_create-digital-profile-icon-blue-user-profile-icon.png">
                                                    </span>
												</td>
												<td>
                                                    {{item.first_name}} {{item.last_name}}
													<!-- <span v-if="item.issue_status==='OPENED'" class="cstmBadge badge-success">{{item.issue_status}}</span>
													<span v-else class="cstmBadge badge-danger">{{item.issue_status}}</span> -->
												</td>
												<td>{{item.designation}}</td>
												<td>{{item.country_code}}{{item.phone_number}}</td>
												<td v-if="item.email!=''">{{item.email}}</td>
												<td v-else><span class="cstmBadge " style="background-color:rgb(169, 169, 169);">N/A</span></td>
												<td v-if="item.units">
                                                    <p v-for="unit of item.units" :key="unit.id">
                                                        {{unit.block.block_name}}-{{unit.unit_no}}
                                                    </p>
                                                    </td>
													<!-- <td v-else><span class="cstmBadge " style="background-color:grey">N/A</span></td> -->
												<td>
                                                    <span v-if="item.is_approved==='APPROVED'" class="cstmBadge badge-success">{{item.is_approved}}</span>
													<span v-else class="cstmBadge badge-danger">{{item.is_approved}}</span>
                                                </td>
												<td>
													<span  class="cstmBadge customBtn">
														<button @click='currentItem(item)' type="button" class="btn btn-edit" data-toggle="modal" :data-target="idR(item.id,item.first_name,item.last_name,idr)">
														 <i class="fas fa-pen"></i>
														</button>
														<UModal 
															:id="item.id+item.first_name+item.last_name+idr"
															:users="selectedItem"
															:units2="unit_names(item)"
														/>
														
													</span>
													<span class="cstmBadge customBtn" >
														<button type="button" @click='currentItemD(item)' data-toggle="modal" :data-target="idD(item.id,idr)"  class="btn btn-delete">
														<i class="fa fa-trash"></i> 
														</button>
														<DModal
														:id="+item.id+idr"
															:userId="selectedItemD.id"
														/>
													</span>
												</td>
												
											</tr>

										</tbody>
									</table>
									
								</div>
                            </div>
</template>
<script>
import UModal from './UserModal'
import {mapGetters} from 'vuex'

import DModal from './deleteUserModal'
export default {
	components:{
		UModal,
		DModal
	},
	data(){
		return{
			unittf:true,
			selectedItem:'',
			selectedItemD:''
		}
	},
    props:{
        data:{
             type:Object,
             required:true
        },idr:{
			type:String,
			required:true
		}
    },
	async fetch() {
		this.$store.dispatch('units');	 
	},
	methods:{
	unit_names(user){
		console.log(user);
      let unit2=[];
	  if(user.unit_occupancies){
		//   for(let unit of user.unit_occupancies){
		//   console.log(user);
        //   let a={
        //     name:unit.block.block_name+"-"+unit.unit_no,
        //     id:unit.id
        //   }
        //   unit.push(a);
	  }
	  else{
		  for(let unit of user.units){
		  console.log(user);
          let a={
            name:unit.block.block_name+"-"+unit.unit_no,
            id:unit.id
          }
          unit2.push(a);
      }
	  }
      
      console.log(unit2);
      return unit2;
    },
		currentItem(i){
			console.log(this.selectedItem);
			this.selectedItem=i;	
			console.log(this.selectedItem);
		},
		currentItemD(i){
			console.log(this.selectedItemD);
			this.selectedItemD=i;	
			console.log(this.selectedItemD);
		},
		idR(id,name,l,i){
			
				return '#'+id+name+l+i;
			
			
		},
		idD(id,i){
			
				return '#del'+id+i;
			
			
		}
	},
	created(){
		console.log(this.data.found);
	},
	 computed:{
		...mapGetters({units:"getUnits"}),
	},
}
</script>