<template>
  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModalCenter1"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button
            type="button"
            class="close"
            id="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="text-center">
            <h2>Create User</h2>
          </div>
          <form class="userForm">
            <div class="inputCol">
              <div class="inputWrap">
                <input
                  type="text"
                  class="form-control"
                  placeholder="First Name"
                  v-model="user.first_name"
                />
                <!-- <p style="color:red">{{emailError}}</p> -->
              </div>
              
              <div class="inputWrap">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Last Name"
                  v-model="user.last_name"
                />
              </div>
              <!-- <p style="color:red">{{emailError}}</p> -->
            </div>
            <div class="inputCol">
              <div class="inputWrap">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  v-model="user.email"
                />
                <!-- <p style="color:red">{{emailError}}</p> -->
              </div>
              
              <div class="inputWrap">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Number"
                  v-model="user.phone_number"
                />
                 <p v-if="errors.errors.phone_number" style="color: red">
                {{ errors.errors.phone_number }}
              </p>
              </div>
             
            </div>

            <div class="inputCol">
              <div class="inputWrap">
                <!-- <multiselect v-model="units2" tag-placeholder="Add this as new tag" track-by="id" placeholder="Search or add a tag" label="name"  :options="unit_names()" :multiple="true" :taggable="true" @tag="addTag"></multiselect> -->
                <!-- <multiselect v-model="units2" tag-placeholder="Add this as new tag" placeholder="Search or add a tag" label="name" track-by="code" :options="unit_names()" :multiple="true" :taggable="true" @tag="addTag"></multiselect> -->
                <!-- <div class="inputSelect">
              <span
                v-for="item of units2"
                :key="item.id"
                class="cstmBadge badge-success"
                >{{item.name}}
                <a href="#" @click="deleteUnit(item)"> &#10005;</a></span>
              </div> -->
                <v-select
                  v-model="units2"
                  multiple
                  :options="unit_names()"
                  label="name"
                ></v-select>
                 <p v-if="errors.errors.unit_flat_no" style="color: red">
                {{ errors.errors.unit_flat_no }}
              </p>
              </div>
            </div>
            <div class="inputCol">
              <div class="form-check inputWrap">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="exampleCheck1"
                  v-model="user.committee_member"
                />
                <label class="form-check-label" for="exampleCheck1"
                  >Committee Member</label
                >
              </div>
            </div>
            <div class="inputCol">
              <div class="inputWrap">
                <input
                  v-if="user.committee_member"
                  type="text"
                  class="form-control"
                  placeholder="Designation"
                  v-model="user.designation"
                />
              </div>
            </div>
            <div class="text-center mt-4">
              <button @click.prevent="submit" class="btn btn-primary">
                Submit
              </button>
            </div>
            <p v-if="errors.type === 'error'" style="color: red">
              {{ errors.message }}
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import vSelect from "vue-select";
import { mapGetters } from "vuex";
import Multiselect from "vue-multiselect";
Vue.component("v-select", vSelect);
import "vue-select/dist/vue-select.css";
export default {
  components: { Multiselect },
  props: ["units"],
  data() {
    return {
      avlUnits: [],
      flatwnersObj: {
        search_params: "",
        block_id: "",
        unit_id: "",
      },
      requestedUsersObj: {
        search_params: "",
      },
      allUsersObj: {
        search_params: "",
      },
      units2: [],
      user: {
        first_name: "",
        last_name: "",
        email: "",
        phone_number: "",
        designation: "",
        committee_member: false,
        unit_flat_no: [],
      },
    };
  },
  computed: {
    ...mapGetters({ errors: "getCreateUserErrors" }),
  },
  methods: {
    closeModal() {
      document.getElementById("close").click();
    },
    modal() {
      if (this.errors.type != "error") {
        console.log("model");
        return "modal";
      }
      return "";
    },
    showAlert() {
      this.$swal({
        title: "Susccess!",
        icon: "success",
        showConfirmButton: false,
        timer: 2000,
      });
    },
    submit() {
      for (let unit of this.units2) {
        this.user.unit_flat_no.push(unit.id);
      }
      console.log(this.user);
      this.$store.dispatch("createUser", this.user).then(() => {
        this.refresh();
        if (this.errors.type != "error") {
          // this.showAlert();
          this.closeModal();
        }
        this.user = {
          first_name: "",
          last_name: "",
          email: "",
          phone_number: "",
          designation: "",
          committee_member: false,
          unit_flat_no: [],
        };
        this.errors = {};
        this.units2 = [];
      });
    },
    refresh() {
      this.$store.dispatch("flatOwners");
      this.$store.dispatch("requestedUsers");
      this.$store.dispatch("allUsers");
      this.$store.dispatch("blocks");
      this.$store.dispatch("units");
    },
    unit_names() {
      let unit_names = [];
      for (let unit of this.units) {
        if (unit.filled == 0) {
          let a = {
            name: unit.block.block_name + "-" + unit.unit_no,
            id: unit.id,
          };
          // this.avlUnits.push(a);
          unit_names.push(a);
        }
      }
      console.log(unit_names);
      return unit_names;
    },
    addTag(newTag) {
      const tag = {
        name: newTag,
        code: newTag.substring(0, 2) + Math.floor(Math.random() * 10000000),
      };
      this.options.push(tag);
      this.value.push(tag);
    },
  },
};
</script>
<style scoped>
.logoModal {
  margin-bottom: 10px;
  display: block;
}
.userForm {
  padding-top: 20px;
}
.multiselect__tag {
  background: #28a745 !important;
}
</style>