<template>
  <div
    class="modal fade"
    :id="id"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button
            type="button"
            class="close"

            id="close1"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="text-center">
             <h2>Edit User</h2>
          </div>
          <form class="userForm" @submit.prevent="submit">
            <div class="inputCol">
              <div class="inputWrap">
                <input
                  type="text"
                  class="form-control"
                  placeholder="First Name"
                  v-model="users.first_name"
                />
              </div>
              <div class="inputWrap">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Last Name"
                  v-model="users.last_name"
                />
              </div>
            </div>
            <div class="inputCol">
              <div class="inputWrap">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  v-model="users.email"
                />
              </div>
              <div class="inputWrap">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Number"
                  v-model="users.phone_number"
                />
              </div>
            </div>
            <div class="inputCol">
            <div class="inputWrap">
              <!-- <multiselect v-if="users" v-model="units2" tag-placeholder="Add this as new tag" placeholder="Search or add a tag" label="name" track-by="code" :options="unit_names()" :multiple="true" :taggable="true" @tag="addTag"></multiselect> -->
              <div class="inputSelect">
              <span
                v-for="item of users.units"
                :key="item.id"
                class="cstmBadge badge-success"
                >{{ item.block.block_name }}-{{ item.unit_no }}
                <a href="#" @click="deleteUnit(item)"> &#10005;</a></span>
              </div>
              <v-select
                v-model="selectedUnit"
                :reduce="(avlunits) => avlunits.id"
                :options="unit_names()"
                label="name"
              ></v-select>
            </div>
            </div>
            <div class="inputCol">
            <div class="form-check inputWrap">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
                v-model="users.committee_member"
              />
              <label class="form-check-label" for="exampleCheck1"
                >Committee Member</label
              >
            </div>
            </div>
            <div class="text-center mt-4">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import vSelect from "vue-select";
import Success from "./successionModal";
import { mapGetters } from "vuex";
import Multiselect from "vue-multiselect";
Vue.component("v-select", vSelect);
import "vue-select/dist/vue-select.css";
export default {
  components: {
    Success,
    Multiselect,
  },
  props: ["users", "id", "units2"],
  data() {
    return {
      selectedUnit: "",
      avlunits: [],
      modalShow: true,
      flatwnersObj: {
        search_params: "",
        block_id: "",
        unit_id: "",
      },
      requestedUsersObj: {
        search_params: "",
      },
      allUsersObj: {
        search_params: "",
      },
    };
  },
  computed: {
    ...mapGetters({ units: "getUnits" }),
    ...mapGetters({ errors: "getCreateUserErrors" }),
  },
  watch: {
    selectedUnit: function () {
      this.$store
        .dispatch("addUnit", {
          unit_id: String(this.selectedUnit),
          user_id: String(this.users.id),
        })
        .then(() => {
          this.$store.dispatch("flatOwners", this.flatwnersObj);
          this.$store.dispatch("requestedUsers", this.requestedUsersObj);
          this.$store.dispatch("allUsers", this.allUsersObj);
          this.$store.dispatch("blocks");
          this.$store.dispatch("units");
          console.log;
          for (let u of this.units) {
            if (u.id == this.selectedUnit) {
              this.users.units.push(u);
            }
          }

          this.selectedUnit = "";
        });
    },
  },
  methods: {
    submit() {
      let user = {
        id: this.users.id,
        first_name: this.users.first_name,
        last_name: this.users.last_name,
        phone_number: this.users.phone_number,
        designation: this.users.designation,
        email: this.users.email,
        committee_member: this.users.committee_member,
      };
      this.$store.dispatch("editUser", user).then(() => {
        //  this.showAlert();

       this.refresh();
        document.getElementById("close1").click();
        console.log("updated user");
        this.closeModal();
        this.modalShow = false;
      });
    },
    closeModal() {
      console.log("updated user");
      const click1=document.querySelector("button[id='close1']");
      console.log(click1);
    },
    modal() {
      if (this.errors.type != "error") {
        return "modal";
      }
      return "";
    },
    showAlert() {
      this.$swal({
        title: "Susccess!",
        icon: "success",
        showConfirmButton: false,
        timer: 2000,
      });
    },
    deleteUnit(unit) {
      this.$store
        .dispatch("deleteUnit", {
          unit_id: String(unit.id),
          user_id: String(this.users.id),
        })
        .then(() => {
         this.refresh();
          this.users.units.splice(this.users.units.indexOf(unit), 1);

          this.selectedUnit = "";
        });
    },
    unit_names() {
      let units = [];
      for (let u of this.units) {
        if (u.filled == 0) {
          let b = {
            name: u.block.block_name + "-" + u.unit_no,
            id: u.id,
          };
          units.push(b);
        }
      }
      this.avlunits = units;
      return units;
    },
    refresh(){
		this.$store.dispatch('flatOwners');
		this.$store.dispatch('requestedUsers');
		this.$store.dispatch('allUsers');
		this.$store.dispatch('blocks');
		this.$store.dispatch('units');
		},

    addTag(newTag) {
      const tag = {
        name: newTag,
        code: newTag.substring(0, 2) + Math.floor(Math.random() * 10000000),
      };
      this.options.push(tag);
      this.value.push(tag);
    },
  },
};
</script>
<style scoped>
.logoModal {
  margin-bottom: 10px;
  display: block;
}
.userForm {
  padding-top: 20px;
}
.multiselect__tag {
  background: #28a745 !important;
}

</style>