<template>
<div class="forBlock">
     <div class="forHeading" style="margin-bottom:15px;margin-top:15px">
       <div class="d-flex">
          <h4>Service Providers</h4>
          <button type="button" class="btn btn-light">
            <i data-v-6d07042e="" aria-hidden="true" class="fa fa-download"></i>
            &nbsp;Download Report
            </button>
       </div>
       
     </div>
               
        
     <div class="forBox">
      <div class="table-responsive tableHolder tableHolderB tableHolderC">
       <table class="table">
         <thead>
           <tr>
               <th>Image</th>
           <th>Name</th>
           <th>Phone Number</th>
           <th>Address</th>
            <!-- <th>Verification Code</th> -->
           <th>Category</th>
           <!-- <th>Visits</th>  -->
           <th>Action</th>

           </tr>
           </thead>
           <tbody>
             <tr v-for="item of data.service_provider" :key="item.id">
                 
               <td>
                   <span style="display:block" class="userProfPic">
                                                        <img  :src="item.visitor.visitor_image" alt="">
														<!-- <img v-else src="https://www.kindpng.com/picc/m/495-4952535_create-digital-profile-icon-blue-user-profile-icon.png"> -->
                                                    </span>
               </td>
               <td>{{item.visitor.first_name}} {{item.visitor.last_name}}</td>
               <td>{{item.visitor.phone_number}}</td>
               <td>{{item.visitor.address}}</td>
               <!-- <td>{{item.verification_code}}</td> -->
               <td>
                    <span style="display:block" class="userProfPic">
                                                        <img  :src="item.category.image_url" alt="">
														<!-- <img v-else src="https://www.kindpng.com/picc/m/495-4952535_create-digital-profile-icon-blue-user-profile-icon.png"> -->
                                                    </span>
                   <p>{{item.category.category_name}}</p>
               </td>
               <!-- <td>{{item.visit_count}}</td> -->
               <td>
													<span  class="cstmBadge customBtn">
														<button  type="button" class="btn" data-toggle="modal"  :data-target="'#'+item.id+item.name">
														<i class="fa fa-edit"></i> 
														</button>
													<!-- <TModal
                                                    :id="item.id+item.name"
                                                    :users="item"
                                                    
                                                    />
														 -->
													</span>
													<span class="cstmBadge customBtn" >
														<button type="button"  data-toggle="modal"  :data-target="'#'+item.id" class="btn">
														<i class="fa fa-trash"></i> 
														</button>
													
													</span>
								  </td>
             </tr>
           </tbody>
       </table>
      </div>
     </div>
   </div>
</template>
<script>

import {mapGetters} from 'vuex'
// import TModal from './technicianModal.vue'
export default {
  data(){
    return{
          filter:{
              category_id: 0,
              name: "",
              verification_code: "",
          }


    }
  },
  components:{
    //   TModal
  },
  props:{
   
  },
  methods:{
    
  },
   async fetch(){
     this.$store.dispatch('serviceProviders');
     

  },
  computed:{
    ...mapGetters({data:"getServiceProviders"})
       
  }, 
  watch:{
    cats:function(){
      console.log(this.cats);
    }
  }
  
}
</script>