<template>
<div class="forBlock">
     <div class="forHeading" style="margin-bottom:15px;margin-top:15px">
       <div class="d-flex">
          <h4>Regular Visitor</h4>
          <button type="button" class="btn btn-light">
            <i data-v-6d07042e="" aria-hidden="true" class="fa fa-download"></i>
            &nbsp;Download Report
            </button>
       </div>
       
     </div>
       <form action="">
         <div class="inputRow row">
           <div class="inputWrap col-sm-3">
            <input type="text" class="form-control" placeholder="Verification Code" style="margin-bottom:15px" v-model="filter.verification_code">
           </div>
           <div class="inputWrap col-sm-3">
              <input type="text" class="form-control" style="margin-bottom:15px" placeholder="Name or Phone Number" v-model="filter.name"> 
           </div>
           <div class="inputWrap col-sm-3">
               <select class="form-control" style="margin-bottom:15px" v-model="filter.category_id">
           <option value="0" >Select Category</option>
           <option v-for="item of cats.regular_visitor_categories" :key="item.id" :value="item.id">{{item.category_name}}</option>
          </select>
           </div>
           <div class="inputWrap col-sm-3">
             <button class="btn btn-primary btn-block" @click.prevent="filters()" >Filter</button>
           </div>
         </div>
       </form>
         
        
     <div class="forBox">
      <div class="table-responsive tableHolder tableHolderB tableHolderC">
       <table class="table">
         <thead>
           <tr>
               <th>Image</th>
           <th>Name</th>
           <th>Phone Number</th>
           <th>Address</th>
            <th>Verification Code</th>
           <th>Category</th>
           <th>Visits</th> 
           <th>Action</th>

           </tr>
           </thead>
           <tbody>
             <tr v-for="item of data.regular_visitors" :key="item.id">
                 
               <td>
                   <span style="display:block" class="userProfPic">
                                                        <img  :src="item.visitor.visitor_image" alt="">
														<!-- <img v-else src="https://www.kindpng.com/picc/m/495-4952535_create-digital-profile-icon-blue-user-profile-icon.png"> -->
                                                    </span>
               </td>
               <td>{{item.visitor.first_name}} {{item.visitor.last_name}}</td>
               <td>{{item.visitor.phone_number}}</td>
               <td>{{item.visitor.address}}</td>
               <td>{{item.verification_code}}</td>
               <td>
                    <span style="display:block" class="userProfPic">
                                                        <img  :src="item.category.image_url" alt="">
														<!-- <img v-else src="https://www.kindpng.com/picc/m/495-4952535_create-digital-profile-icon-blue-user-profile-icon.png"> -->
                                                    </span>
                   <p>{{item.category.category_name}}</p>
               </td>
               <td>{{item.visit_count}}</td>
               <td>
													<span  class="cstmBadge customBtn">
														<button  type="button" class="btn" data-toggle="modal"  :data-target="'#'+item.id+item.name">
														<i class="fa fa-edit"></i> 
														</button>
													<!-- <TModal
                                                    :id="item.id+item.name"
                                                    :users="item"
                                                    
                                                    />
														 -->
													</span>
													<span class="cstmBadge customBtn" >
														<button type="button"  data-toggle="modal"  :data-target="'#'+item.id" class="btn">
														<i class="fa fa-trash"></i> 
														</button>
													
													</span>
								  </td>
             </tr>
           </tbody>
       </table>
      </div>
     </div>
   </div>
</template>
<script>

import {mapGetters} from 'vuex'
// import TModal from './technicianModal.vue'
export default {
  data(){
    return{
          filter:{
              category_id: 0,
              name: "",
              verification_code: "",
          }


    }
  },
  components:{
    //   TModal
  },
  props:{
   
  },
  methods:{
    filters(){
      let r={};
      if(this.filter.category_id!=0){
        r.category_id=this.filter.category_id;
      }
      if(this.filter.name!=""){
        r.name=this.filter.name;
      }
      if(this.filter.verification_code!=""){
        r.verification_code=this.filter.verification_code;
      }
      this.$store.dispatch('regularVisitors',r);
    }
  },
   async fetch(){
     this.$store.dispatch('regularVisitors');
     this.$store.dispatch('regularCategories').then(()=>{
       console.log(this.cats)
     });

  },
  computed:{
    ...mapGetters({data:"getRegularVisitors"}),
    ...mapGetters({cats:"getRegularCategories"}),
       
  }, 
  watch:{
    cats:function(){
      console.log(this.cats);
    }
  }
  
}
</script>