<template>
    <div>
        <header class="dashboardHeader">
					<div class="d-sm-none moToggleBtn">
						<button class="sideMenuBtnH"><i class="fas fa-bars"></i></button>
					</div>
					<ul class="headerList">
						<li class="notification dropdown">
							<a href="#." data-toggle="dropdown" aria-expanded="true">
								<svg viewBox="0 0 24 24">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#layer8"></use>
								</svg>
								<span class="notiAlert"></span>
							</a>
							<div class="dropdown-menu dropdown-menu-left dropdown-menuNoti">
								<header class="mainHeading">
									<h2>Notifications </h2>
								</header>
								<div class="notificationCol d-flex align-items-center">
									<div class="userProfPic">
										<img src="@/assets/images/profile.png" alt="">
									</div>
									<div class="userNoti">
										<p>Fauzan Khan promoted your answer</p>
									</div>
								</div>
								<div class="notificationCol d-flex align-items-center">
									<div class="userProfPic">
										<img src="@/assets/images/profile.png" alt="">
									</div>
									<div class="userNoti">
										<p>Fauzan Khan promoted your answer</p>
									</div>
								</div>
								<div class="notificationCol d-flex align-items-center">
									<div class="userProfPic">
										<img src="@/assets/images/profile.png" alt="">
									</div>
									<div class="userNoti">
										<p>Fauzan Khan promoted your answer</p>
									</div>
								</div>
							</div>
						</li>
						<li class="dropdown">
							<a href="#." data-toggle="dropdown" aria-expanded="true">
								<span class="userInfo">
									<b class="userName">
										{{user.first_name}} {{user.last_name}}
									</b>
									<b class="userStatus">Available</b>
								</span>
								<span class="userProfPic">
									<img :src="user.image" alt="">
								</span>
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" href="dashboard.html">
									<span>Profile</span>
								</a>
								<a class="dropdown-item" href="#.">
									<span>Settings</span>
								</a>
								<a class="dropdown-item" href="#.">
									<span class="float-right"><span class="badge info">6</span></span>
									<span>Inbox</span>
								</a>
								<a class="dropdown-item" href="#.">
									<span>Message</span>
								</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#.">
									Need help?
								</a>
								<a class="dropdown-item" @click="logout">Sign out</a>
							</div>
						</li>
					</ul>
				</header>
    </div>
</template>
<script>
export default {
	props:{
		user:{
			type:Object,
			required:true
		}
	},
	methods:{
		async logout(){
			await this.$store.dispatch('logoutUser',this.user);
			console.log(this.loginResponse.message,this.loginResponse.type);
		}
	},
	async fetch(){
		if(!this.$auth.user){
			this.logout();
		}
	}
}
</script>