<template>
    <div>
	<!-- dashboardPage -->
	<main class="dashboardPage bg-light">
		<!-- dashboardSec -->
		<section class="dashboardSec">
			<!-- dashboardAside -->
			<sideNav/>
			<!-- dashboardContent -->
			<aside class="dashboardContent">
				<!-- dashboardHeader -->
				<DashboardHeader 
				:user="this.$auth.user"
				/>
				<!-- dashboardHeader -->

				<!-- dashboardMainContent -->
				<div class="d-flex">

					<!-- dashboardMiddle Part -->
					<aside class="dashboardContentItems">
						<!-- statistical information -->
						<dashboardStastics
						:dashboardCounts="dashboardCounts"
						/>
						<!-- /.statistical information -->

						<!-- openTicketsTabel -->
						<OpenTable/> 
						<!-- /.openTicketsTabel -->

						<!-- different statistics -->
						<diffStatics
						:stats="firstStats"
						/>
						<!-- /.different statistics -->

						<!-- openTicketsTabel -->
						<SecondTable/>
						<!-- /.openTicketsTabel -->

						<!-- different statistics -->
						<diffStatic2
						:assets="assets"
						:defaulters="defaulters"
						/>
						<!-- /.different statistics -->
					</aside>
					<!-- /.dashboardMiddle Part-->

					<!-- dashboardRightContent -->
					<aside class="dashboardContentNav dashboardAside">
						<ul class="listIconRight">
							<li class="dropdown dropleft">
								<!-- tooltip&dropdown Init -->
								<a href="#." class="meeting dropdown-toggle" id="dropdownMenuButton"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
									data-toggle-second="tooltip" data-placement="left" title="Meetings">
									<img src="@/assets/images/icon.png" alt="">
								</a>
								<!-- /.tooltip&dropdown Init -->
								<!-- For-Metting-dropdown -->
								<div class="dropdown-menu dropdown-menuMeeting" aria-labelledby="dropdownMenuButton">
									<div class="openTickets">
										<header class="mainHeading d-flex justify-content-between">
											<h4>Meetings</h4>
											<div class="pl-2 d-flex dropdownHeadingG">
												<a href="#." class="addMeeting">&#43;</a>
												<a href="#." class="close">&times;</a>
											</div>
										</header>
										<!-- listingMeetingCol -->
										<div class="listingMeetingCol">

											<div class="listingMeeting">
												<div class="listingHeading d-flex justify-content-between">
													<h4>Lorem ipsum dolor sit amet</h4>
													<div class="listingIconGroup pl-2">
														<a href="#." class="editBtn">
															<img src="@/assets/images/edit-icon.png" alt="">
														</a>
														<a href="#." class="deleteBtn">
															<img src="@/assets/images/delete-icon.png" alt="">
														</a>
													</div>
												</div>
												<div class="listingHeadingPara">
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
														eiusmod tempor incididunt ut labore et dolore magna aliqua...
													</p>
												</div>

												<div
													class="listingFooter d-flex align-items-center justify-content-between">
													<div class="d-flex align-items-center">
														<img src="@/assets/images/member-icon.png" alt="">
														<span>All Members</span>
													</div>
													<div class="d-flex align-items-center">
														<img src="@/assets/images/calender-icon.png" alt="">
														<span>Nov 4, 2020 at 01:30PM</span>
													</div>

												</div>
											</div>
											<div class="listingMeeting">
												<div class="listingHeading d-flex justify-content-between">
													<h4>Lorem ipsum dolor sit amet</h4>
													<div class="listingIconGroup pl-2">
														<a href="#." class="editBtn">
															<img src="@/assets/images/edit-icon.png" alt="">
														</a>
														<a href="#." class="deleteBtn">
															<img src="@/assets/images/delete-icon.png" alt="">
														</a>
													</div>
												</div>
												<div class="listingHeadingPara">
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
														eiusmod tempor incididunt ut labore et dolore magna aliqua...
													</p>
												</div>

												<div
													class="listingFooter d-flex align-items-center justify-content-between">
													<div class="d-flex align-items-center">
														<img src="@/assets/images/member-icon.png" alt="">
														<span>All Members</span>
													</div>
													<div class="d-flex align-items-center">
														<img src="@/assets/images/calender-icon.png" alt="">
														<span>Nov 4, 2020 at 01:30PM</span>
													</div>

												</div>
											</div>
											<div class="listingMeeting">
												<div class="listingHeading d-flex justify-content-between">
													<h4>Lorem ipsum dolor sit amet</h4>
													<div class="listingIconGroup pl-2">
														<a href="#." class="editBtn">
															<img src="@/assets/images/edit-icon.png" alt="">
														</a>
														<a href="#." class="deleteBtn">
															<img src="@/assets/images/delete-icon.png" alt="">
														</a>
													</div>
												</div>
												<div class="listingHeadingPara">
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
														eiusmod tempor incididunt ut labore et dolore magna aliqua...
													</p>
												</div>

												<div
													class="listingFooter d-flex align-items-center justify-content-between">
													<div class="d-flex align-items-center">
														<img src="@/assets/images/member-icon.png" alt="">
														<span>All Members</span>
													</div>
													<div class="d-flex align-items-center">
														<img src="@/assets/images/calender-icon.png" alt="">
														<span>Nov 4, 2020 at 01:30PM</span>
													</div>

												</div>
											</div>
											<div class="listingMeeting">
												<div class="listingHeading d-flex justify-content-between">
													<h4>Lorem ipsum dolor sit amet</h4>
													<div class="listingIconGroup pl-2">
														<a href="#." class="editBtn">
															<img src="@/assets/images/edit-icon.png" alt="">
														</a>
														<a href="#." class="deleteBtn">
															<img src="@/assets/images/delete-icon.png" alt="">
														</a>
													</div>
												</div>
												<div class="listingHeadingPara">
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
														eiusmod tempor incididunt ut labore et dolore magna aliqua...
													</p>
												</div>

												<div
													class="listingFooter d-flex align-items-center justify-content-between">
													<div class="d-flex align-items-center">
														<img src="@/assets/images/member-icon.png" alt="">
														<span>All Members</span>
													</div>
													<div class="d-flex align-items-center">
														<img src="@/assets/images/calender-icon.png" alt="">
														<span>Nov 4, 2020 at 01:30PM</span>
													</div>

												</div>
											</div>
											<div class="listingMeeting">
												<div class="listingHeading d-flex justify-content-between">
													<h4>Lorem ipsum dolor sit amet</h4>
													<div class="listingIconGroup pl-2">
														<a href="#." class="editBtn">
															<img src="@/assets/images/edit-icon.png" alt="">
														</a>
														<a href="#." class="deleteBtn">
															<img src="@/assets/images/delete-icon.png" alt="">
														</a>
													</div>
												</div>
												<div class="listingHeadingPara">
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
														eiusmod tempor incididunt ut labore et dolore magna aliqua...
													</p>
												</div>

												<div
													class="listingFooter d-flex align-items-center justify-content-between">
													<div class="d-flex align-items-center">
														<img src="@/assets/images/member-icon.png" alt="">
														<span>All Members</span>
													</div>
													<div class="d-flex align-items-center">
														<img src="@/assets/images/calender-icon.png" alt="">
														<span>Nov 4, 2020 at 01:30PM</span>
													</div>

												</div>
											</div>
											<div class="listingMeeting">
												<div class="listingHeading d-flex justify-content-between">
													<h4>Lorem ipsum dolor sit amet</h4>
													<div class="listingIconGroup pl-2">
														<a href="#." class="editBtn">
															<img src="@/assets/images/edit-icon.png" alt="">
														</a>
														<a href="#." class="deleteBtn">
															<img src="@/assets/images/delete-icon.png" alt="">
														</a>
													</div>
												</div>
												<div class="listingHeadingPara">
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
														eiusmod tempor incididunt ut labore et dolore magna aliqua...
													</p>
												</div>

												<div
													class="listingFooter d-flex align-items-center justify-content-between">
													<div class="d-flex align-items-center">
														<img src="@/assets/images/member-icon.png" alt="">
														<span>All Members</span>
													</div>
													<div class="d-flex align-items-center">
														<img src="@/assets/images/calender-icon.png" alt="">
														<span>Nov 4, 2020 at 01:30PM</span>
													</div>

												</div>
											</div>

										</div>
										<!-- /.listingMeetingCol -->
										<!-- meetingForm -->
									      <div class="meetingForm">
											<div class="meetingFormCol">
												<div class="inputField">
													<input type="text" class="form-control" placeholder="Topic">
												</div>
												<div class="inputField">
													<input type="text" class="form-control" placeholder="Date">
												</div>
												<div class="inputField row">
													<div class="col-sm-6">
														<input type="text" class="form-control" placeholder="Date">
													</div>
													<div class="col-sm-6">
														<input type="text" class="form-control" placeholder="Date">
													</div>
												</div>
												<div class="inputField">
													<input type="text" class="form-control" placeholder="Venu">
												</div>
											</div>
											<div class="meetingFormCol">
												<div class="bg-light meetingHeading">
													<h4>Agenda</h4>
												</div>
												<div class="inputField">
													<input type="text" class="form-control" placeholder="Agenda 1">
												</div>
												<div class="inputField">
													<input type="text" class="form-control" placeholder="Agenda ">
												</div>
												<div class="inputField">
													<textarea class="form-control" placeholder="note"></textarea>
												</div>
											</div>
											<div class="meetingFormCol">
												<div class="bg-light meetingHeading">
													<h4>Attendees</h4>
												</div>
												<div class="inputField">
													<input type="text" class="form-control" placeholder="Agenda 1">
												</div>
												<div class="inputField">
													<input type="text" class="form-control" placeholder="Agenda ">
												</div>
												<div class="inputField">
													<textarea class="form-control" placeholder="note"></textarea>
												</div>
											</div>
											<div class="meetingFormCol">
												<div class="bg-light meetingHeading">
													<h4>Attendees</h4>
												</div>
												<div class="inputField">
													<input type="text" class="form-control" placeholder="Agenda 1">
												</div>
												<div class="inputField">
													<input type="text" class="form-control" placeholder="Agenda ">
												</div>
												<div class="inputField">
													<textarea class="form-control" placeholder="note"></textarea>
												</div>
											</div>
										  </div>
										<!-- /.meetingForm -->
									</div>
								</div>
								<!-- /.For-Metting-dropdown -->
							</li>
							<li><a href="#." data-toggle="tooltip" data-placement="left" title="Complains">
									<img src="@/assets/images/icon.png" alt="">
								</a></li>
							<li><a href="#." data-toggle="tooltip" data-placement="left" title="Complains">
									<img src="@/assets/images/icon.png" alt="">
								</a></li>
							<li><a href="#." data-toggle="tooltip" data-placement="left" title="Complains">
									<img src="@/assets/images/icon.png" alt="">
								</a></li>
							<li><a href="#." data-toggle="tooltip" data-placement="left" title="Complains">
									<img src="@/assets/images/icon.png" alt="">
								</a></li>
							<li><a href="#." data-toggle="tooltip" data-placement="left" title="Complains">
									<img src="@/assets/images/icon.png" alt="">
								</a></li>
							<li><a href="#." data-toggle="tooltip" data-placement="left" title="Complains">
									<img src="@/assets/images/icon.png" alt="">
								</a></li>

						</ul>
					</aside>
					<!-- /.dashboardRightContent -->
				</div>
				<!-- /.dashboardMainContent -->

			</aside>
			<!-- /.dashboardContent -->

		</section>
		<!-- /.dashboardSec -->
	</main>
	<!-- /.dashboardPage -->

	<!-- footer -->
	<footer class="footer bg-dark">
		<div class="text-center text-white">
			<p>Securnyx India Private Limited</p>
		</div>
	</footer>
	<!-- /.footer -->

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/plugins/jquery-3.2.1.slim.min.js"></script>
	<script src="js/plugins/popper.min.js"></script>
	<script src="js/plugins/bootstrap.min.js"></script>
	<!-- Optional JavaScript -->
	<script src="js/custom.js"></script>

	<!---all svg-->
	<div class="d-none">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="layer1"
			x="0px" y="0px" xml:space="preserve">
			<path class="st0" d="M3,9l9-7l9,7v11c0,1.1-0.9,2-2,2H5c-1.1,0-2-0.9-2-2V9z"></path>
			<polyline class="st0" points="9,22 9,12 15,12 15,22 "></polyline>
		</svg>

		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="layer2"
			x="0px" y="0px" xml:space="preserve">
			<path class="st0" d="M11.3,15.5c-1.5,0-2.7-1.2-2.7-2.7s1.2-2.7,2.7-2.7"></path>
			<path class="st0" d="M19.3,11"></path>
			<path class="st0"
				d="M7,17.8L7,17.8c-0.8,0.8-1.9,0.8-2.6,0.1c0,0,0,0,0,0c-0.7-0.7-0.7-1.8,0-2.5c0,0,0,0,0,0l0.1-0.1  c0.4-0.4,0.5-1.1,0.3-1.6c-0.2-0.5-0.8-0.9-1.4-0.9H3.2c-1,0-1.8-0.8-1.8-1.8s0.8-1.8,1.8-1.8h0.1c0.6,0,1.1-0.4,1.4-1  C4.9,7.6,4.8,7,4.4,6.5L4.3,6.5c-0.7-0.7-0.7-1.8,0-2.5c0,0,0,0,0,0c0.7-0.7,1.8-0.7,2.5,0c0,0,0,0,0,0L6.9,4C7.3,4.4,8,4.5,8.5,4.3  h0.1c0.5-0.2,0.9-0.8,0.9-1.4V2.8c0-1,0.8-1.8,1.8-1.8s1.8,0.8,1.8,1.8v0.1c0,0.6,0.4,1.1,0.9,1.4c0.6,0.2,1.2,0.1,1.6-0.3l0.1-0.1  c0.7-0.7,1.8-0.7,2.5,0c0,0,0,0,0,0c0.7,0.7,0.7,1.8,0,2.5c0,0,0,0,0,0l-0.1,0.1">
			</path>
			<path class="st0" d="M9.5,20.8"></path>
			<path class="st0" d="M18.2,19.7"></path>
			<g>
				<path class="st0" d="M22.5,22.6v-1.5c0-1.6-1.3-3-3-3h-5.9c-1.6,0-3,1.3-3,3v1.5"></path>
				<circle class="st0" cx="16.6" cy="12.2" r="3"></circle>
			</g>
		</svg>

		<svg version="1.1" id="layer3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			x="0px" y="0px" xml:space="preserve">

			<polyline class="st0" points="19,12.7 19,7.5 12.8,2 0.5,2 0.5,23.3 19,23.3 19,20.9 "></polyline>
			<line class="st0" x1="4.1" y1="10" x2="9.7" y2="10"></line>
			<line class="st0" x1="13.1" y1="10" x2="15" y2="10"></line>
			<g>
				<path d="M6.8,19.3v-4.9h1.1v3.9H10v1H6.8z"></path>
				<path d="M14.8,18.7c-0.5,0.5-1.1,0.7-1.8,0.7c-0.7,0-1.3-0.2-1.8-0.7c-0.5-0.5-0.7-1.1-0.7-1.8s0.2-1.3,0.7-1.8s1.1-0.7,1.8-0.7
					c0.7,0,1.3,0.2,1.8,0.7s0.7,1.1,0.7,1.8S15.3,18.2,14.8,18.7z M14.4,16.9c0-0.4-0.1-0.8-0.4-1.1c-0.3-0.3-0.6-0.5-1-0.5
					s-0.8,0.2-1,0.5c-0.3,0.3-0.4,0.7-0.4,1.1c0,0.4,0.1,0.8,0.4,1.1c0.3,0.3,0.6,0.5,1,0.5s0.8-0.2,1-0.5
					C14.3,17.7,14.4,17.3,14.4,16.9z"></path>
				<path d="M19.6,16.9h1.1v1.7c-0.5,0.5-1.2,0.8-2,0.8c-0.7,0-1.3-0.2-1.8-0.7c-0.5-0.5-0.7-1.1-0.7-1.8s0.2-1.3,0.7-1.8
					s1.1-0.7,1.8-0.7c0.7,0,1.3,0.2,1.8,0.7L20,15.9c-0.2-0.2-0.4-0.3-0.6-0.4c-0.2-0.1-0.4-0.1-0.6-0.1c-0.4,0-0.8,0.1-1,0.4
					s-0.4,0.7-0.4,1.1s0.1,0.8,0.4,1.1s0.6,0.4,1,0.4s0.7-0.1,0.9-0.2V16.9z"></path>
			</g>
			<rect x="3.6" y="13" class="st0" width="19.9" height="7.6"></rect>
		</svg>
		<svg version="1.1" id="layer4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			x="0px" y="0px" xml:space="preserve">

			<path class="st0" d="M20,21v-2c0-2.2-1.8-4-4-4H8c-2.2,0-4,1.8-4,4v2"></path>
			<circle class="st0" cx="12" cy="7" r="4"></circle>
		</svg>
		<svg version="1.1" id="layer5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			x="0px" y="0px" xml:space="preserve">
			<polygon class="st0" points="13.8,2 1.5,2 1.5,23.3 20,23.3 20,7.5 "></polygon>
			<line class="st0" x1="5.1" y1="6" x2="12.5" y2="6"></line>
			<line class="st0" x1="5.1" y1="10" x2="12.5" y2="10"></line>
			<line class="st0" x1="5.1" y1="14" x2="16.1" y2="14"></line>
			<line class="st0" x1="5.1" y1="18" x2="16.1" y2="18"></line>
		</svg>
		<svg version="1.1" id="layer6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			x="0px" y="0px" xml:space="preserve">
			<rect x="3.5" y="2" class="st0" width="18.5" height="21.3"></rect>
			<rect x="6.7" y="5.3" class="st0" width="11.9" height="6.7"></rect>
			<rect x="6.5" y="14.7" width="3" height="3"></rect>
			<rect x="11.2" y="14.7" width="3" height="3"></rect>
			<rect x="15.9" y="14.7" width="3" height="3"></rect>
			<rect x="6.5" y="18.7" width="3" height="3"></rect>
			<rect x="11.2" y="18.7" width="3" height="3"></rect>
			<rect x="15.9" y="18.7" width="3" height="3"></rect>
		</svg>
		<svg version="1.1" id="layer7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			x="0px" y="0px" xml:space="preserve">
			<circle class="st0" cx="12" cy="12" r="3"></circle>
			<path class="st0" d="M19.4,15c-0.3,0.6-0.1,1.3,0.3,1.8l0.1,0.1c0.8,0.8,0.8,2,0,2.8c0,0,0,0,0,0c-0.8,0.8-2,0.8-2.8,0c0,0,0,0,0,0
							l-0.1-0.1c-0.5-0.5-1.2-0.6-1.8-0.3c-0.6,0.3-1,0.9-1,1.5V21c0,1.1-0.9,2-2,2s-2-0.9-2-2v-0.1c0-0.7-0.4-1.3-1.1-1.5
							c-0.6-0.3-1.3-0.1-1.8,0.3l-0.1,0.1c-0.8,0.8-2,0.8-2.8,0c0,0,0,0,0,0c-0.8-0.8-0.8-2,0-2.8c0,0,0,0,0,0l0.1-0.1
							c0.5-0.5,0.6-1.2,0.3-1.8c-0.3-0.6-0.9-1-1.5-1H3c-1.1,0-2-0.9-2-2s0.9-2,2-2h0.1c0.7,0,1.3-0.4,1.5-1.1c0.3-0.6,0.1-1.3-0.3-1.8
							L4.2,7.1c-0.8-0.8-0.8-2,0-2.8c0,0,0,0,0,0c0.8-0.8,2-0.8,2.8,0c0,0,0,0,0,0l0.1,0.1C7.6,4.8,8.3,5,8.9,4.7H9c0.6-0.3,1-0.9,1-1.5V3
							c0-1.1,0.9-2,2-2s2,0.9,2,2v0.1c0,0.7,0.4,1.3,1,1.5c0.6,0.3,1.3,0.1,1.8-0.3l0.1-0.1c0.8-0.8,2-0.8,2.8,0c0,0,0,0,0,0
							c0.8,0.8,0.8,2,0,2.8c0,0,0,0,0,0l-0.1,0.1c-0.5,0.5-0.6,1.2-0.3,1.8V9c0.3,0.6,0.9,1,1.5,1H21c1.1,0,2,0.9,2,2s-0.9,2-2,2h-0.1
							C20.3,14,19.7,14.4,19.4,15z"></path>


		</svg>

		<svg version="1.1" id="layer8" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			x="0px" y="0px" xml:space="preserve">

			<path class="st0" d="M18,8c0-3.3-2.7-6-6-6S6,4.7,6,8c0,7-3,9-3,9h18C21,17,18,15,18,8"></path>
			<path class="st0" d="M13.7,21c-0.6,1-1.8,1.3-2.7,0.7c-0.3-0.2-0.6-0.4-0.7-0.7"></path>
		</svg>

		<svg version="1.1" id="layer9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			x="0px" y="0px" xml:space="preserve">
			<g>
				<path class="st0" d="M22.6,20.1v-1.9c0-2.1-1.7-3.9-3.9-3.9H11c-2.1,0-3.9,1.7-3.9,3.9v1.9"></path>
				<circle class="st0" cx="14.9" cy="6.5" r="3.9"></circle>
			</g>
			<g>
				<path class="st0" d="M6.8,12.3H3.6c-1.8,0-3.2,1.4-3.2,3.2v1.6"></path>
				<path class="st0" d="M6.9,9.1c-1.8,0-3.2-1.4-3.2-3.2s1.4-3.2,3.2-3.2"></path>
			</g>
		</svg>

		<svg version="1.1" id="layer10" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			x="0px" y="0px" xml:space="preserve">

			<path class="st0" d="M20,21v-2c0-2.2-1.8-4-4-4H8c-2.2,0-4,1.8-4,4v2"></path>
			<circle class="st0" cx="12" cy="7" r="4"></circle>
		</svg>
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="layer11"
			x="0px" y="0px" xml:space="preserve">
			<path class="st0" d="M11.3,15.5c-1.5,0-2.7-1.2-2.7-2.7s1.2-2.7,2.7-2.7"></path>
			<path class="st0" d="M19.3,11"></path>
			<path class="st0"
				d="M7,17.8L7,17.8c-0.8,0.8-1.9,0.8-2.6,0.1c0,0,0,0,0,0c-0.7-0.7-0.7-1.8,0-2.5c0,0,0,0,0,0l0.1-0.1  c0.4-0.4,0.5-1.1,0.3-1.6c-0.2-0.5-0.8-0.9-1.4-0.9H3.2c-1,0-1.8-0.8-1.8-1.8s0.8-1.8,1.8-1.8h0.1c0.6,0,1.1-0.4,1.4-1  C4.9,7.6,4.8,7,4.4,6.5L4.3,6.5c-0.7-0.7-0.7-1.8,0-2.5c0,0,0,0,0,0c0.7-0.7,1.8-0.7,2.5,0c0,0,0,0,0,0L6.9,4C7.3,4.4,8,4.5,8.5,4.3  h0.1c0.5-0.2,0.9-0.8,0.9-1.4V2.8c0-1,0.8-1.8,1.8-1.8s1.8,0.8,1.8,1.8v0.1c0,0.6,0.4,1.1,0.9,1.4c0.6,0.2,1.2,0.1,1.6-0.3l0.1-0.1  c0.7-0.7,1.8-0.7,2.5,0c0,0,0,0,0,0c0.7,0.7,0.7,1.8,0,2.5c0,0,0,0,0,0l-0.1,0.1">
			</path>
			<path class="st0" d="M9.5,20.8"></path>
			<path class="st0" d="M18.2,19.7"></path>
			<g>
				<path class="st0" d="M22.5,22.6v-1.5c0-1.6-1.3-3-3-3h-5.9c-1.6,0-3,1.3-3,3v1.5"></path>
				<circle class="st0" cx="16.6" cy="12.2" r="3"></circle>
			</g>
		</svg>
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="layer12"
			x="0px" y="0px" xml:space="preserve">
			<path d="M6.3,19.5l4-1.8l0.5,1.1l-4,1.8L6.3,19.5z"></path>
			<path d="M13.9,18.8l0.5-1.1l4,1.8l-0.5,1.1L13.9,18.8z"></path>
			<path
				d="M19.3,17.3l-3.4-1.7c0.7-0.8,1.2-1.9,1.2-3l0-4.8l2.2-3.4l-6.7-2.3L5.7,4.4l2.2,3.3l0,4.8c0,1.2,0.4,2.2,1.2,3l-3.4,1.7  c-1.2,0.6-2,1.8-2,3.1v2.8h17.6v-2.8C21.3,19.1,20.5,17.9,19.3,17.3L19.3,17.3z M12.5,15.9c-1.8,0-3.3-1.5-3.3-3.3v-1  c0.5,0.3,1,0.5,1.6,0.5h3.5c0.6,0,1.2-0.2,1.6-0.5v1C15.8,14.4,14.3,15.9,12.5,15.9z M15.8,9.2L15.8,9.2c0,0.9-0.7,1.6-1.6,1.6h-3.5  c-0.9,0-1.6-0.7-1.6-1.6l0-1h6.7L15.8,9.2z M12.5,3.5l4.8,1.6L16.1,7H8.8L7.6,5.1L12.5,3.5z M4.9,20.4c0-0.8,0.5-1.6,1.3-2l3.9-1.9  c0.5,0.3,1,0.5,1.6,0.6V22H4.9V20.4z M20.1,22H13v-4.9c0.7-0.1,1.3-0.3,1.9-0.6l3.9,1.9l0,0c0.8,0.4,1.3,1.1,1.3,2L20.1,22L20.1,22z  ">
			</path>
			<path d="M11.9,4.7h1.2V6h-1.2L11.9,4.7z"></path>
		</svg>
		<svg version="1.1" id="layer13" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			x="0px" y="0px" xml:space="preserve">
			<path
				d="M10.3,18.9c0.3,0,0.5-0.2,0.5-0.5c0-0.3-0.2-0.5-0.5-0.5c-0.3,0-0.5,0.2-0.5,0.5C9.8,18.6,10,18.9,10.3,18.9z">
			</path>
			<path d="M21.5,7.5h-2.3V0.2c0-0.3-0.2-0.5-0.5-0.5H5.6c-0.3,0-0.5,0.2-0.5,0.5v7.3H2.8C2,7.5,1.4,8.1,1.4,8.9v3.7
								c0,0.6,0.4,1.1,0.9,1.3v8.3c0,0.8,0.6,1.4,1.4,1.4h16.9c0.8,0,1.4-0.6,1.4-1.4V14c0.5-0.2,0.9-0.7,0.9-1.3V8.9
								C22.9,8.1,22.3,7.5,21.5,7.5z M19.2,10.3h0.9v0.9h-0.9V10.3z M6.1,0.6h12.2v10.6H6.1V0.6z M4.2,11.2v-0.9h0.9v0.9H4.2z M20.6,22.7
								H3.7c-0.3,0-0.5-0.2-0.5-0.5V14H21v8.2C21,22.5,20.8,22.7,20.6,22.7z M22,12.6c0,0.3-0.2,0.5-0.5,0.5H2.8c-0.3,0-0.5-0.2-0.5-0.5
								V8.9c0-0.3,0.2-0.5,0.5-0.5h2.3v0.9H3.7c-0.3,0-0.5,0.2-0.5,0.5v1.9c0,0.3,0.2,0.5,0.5,0.5h16.9c0.3,0,0.5-0.2,0.5-0.5V9.8
								c0-0.3-0.2-0.5-0.5-0.5h-1.4V8.4h2.3c0.3,0,0.5,0.2,0.5,0.5V12.6z"></path>
			<path d="M16.8,16H7.5C7.2,16,7,16.3,7,16.5v3.7c0,0.3,0.2,0.5,0.5,0.5h9.4c0.3,0,0.5-0.2,0.5-0.5v-3.7C17.3,16.3,17.1,16,16.8,16z
								 M16.3,19.8H7.9V17h8.4V19.8z"></path>
			<path
				d="M12.1,18.9H14c0.3,0,0.5-0.2,0.5-0.5c0-0.3-0.2-0.5-0.5-0.5h-1.9c-0.3,0-0.5,0.2-0.5,0.5C11.7,18.6,11.9,18.9,12.1,18.9z">
			</path>
			<path d="M9.3,9.4c0.3,0,0.5-0.2,0.5-0.5c0-1.3,1-2.3,2.3-2.3s2.3,1,2.3,2.3c0,0.3,0.2,0.5,0.5,0.5s0.5-0.2,0.5-0.5
								c0-1.8-1.5-3.3-3.3-3.3S8.9,7.1,8.9,8.9C8.9,9.1,9.1,9.4,9.3,9.4z"></path>
			<path
				d="M9.3,4.7c0.3,0,0.5-0.2,0.5-0.5V3.3c0-0.3-0.2-0.5-0.5-0.5C9.1,2.8,8.9,3,8.9,3.3v0.9C8.9,4.5,9.1,4.7,9.3,4.7z">
			</path>
			<path
				d="M14.9,4.7c0.3,0,0.5-0.2,0.5-0.5V3.3c0-0.3-0.2-0.5-0.5-0.5S14.5,3,14.5,3.3v0.9C14.5,4.5,14.7,4.7,14.9,4.7z">
			</path>
		</svg>
		<svg version="1.1" id="layer14" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			x="0px" y="0px" xml:space="preserve">

			<path class="st0" d="M18.2,17.7v-1.5c0-1.6-1.3-2.9-2.9-2.9H9.4c-1.6,0-2.9,1.3-2.9,2.9v1.5"></path>
			<ellipse class="st0" cx="12.4" cy="7.5" rx="2.9" ry="2.9"></ellipse>
			<path class="st0" d="M6.2,11.9H3.8c-1.4,0-2.4,1.1-2.4,2.4v1.2"></path>
			<path class="st0" d="M6.3,9.5c-1.4,0-2.4-1.1-2.4-2.4s1.1-2.4,2.4-2.4"></path>
			<path class="st0" d="M23,15.5v-1.2c0-1.3-1.1-2.4-2.4-2.4h-2.4"></path>
			<path class="st0" d="M18.1,4.6c1.4,0,2.4,1.1,2.4,2.4s-1.1,2.4-2.4,2.4"></path>
		</svg>
		<svg version="1.1" id="layer15" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			x="0px" y="0px" xml:space="preserve">
			<polyline class="st0" points="8.3,20 1.7,20 1.7,0.3 13.9,0.3 13.9,7.1 "></polyline>
			<circle class="st0" cx="14.7" cy="15.4" r="7.4"></circle>
			<polyline class="st0" points="14.7,10.5 14.7,15.9 18.4,15.9 "></polyline>
			<line class="st0" x1="1.7" y1="3" x2="13.9" y2="3"></line>
			<rect x="4" y="5.9" class="st0" width="3.3" height="3.3"></rect>
		</svg>
		<svg version="1.1" id="layer16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			x="0px" y="0px" xml:space="preserve">
			<polyline class="st0" points="10.3,22 3.7,22 3.7,2.3 15.9,2.3 15.9,8.1 "></polyline>
			<line class="st0" x1="3.7" y1="5" x2="15.9" y2="5"></line>
			<rect x="6" y="7.9" class="st0" width="3.3" height="3.3"></rect>
			<polyline class="st0" points="9.8,17.7 9.8,20.7 21.4,20.7 21.4,18.1 "></polyline>
			<line class="st0" x1="15.9" y1="10.8" x2="15.9" y2="16"></line>
			<polyline class="st0" points="19.8,14 15.9,17.9 12,14 "></polyline>
		</svg>
		<svg version="1.1" id="layer17" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			x="0px" y="0px" xml:space="preserve">
			<g>
				<path class="st0" d="M19.2,20.4v-0.9c0-1-0.8-1.8-1.8-1.8h-3.5c-1,0-1.8,0.8-1.8,1.8v0.9"></path>
				<circle class="st0" cx="15.6" cy="14.2" r="1.8"></circle>
			</g>
			<polyline class="st1" points="8.3,22 1.7,22 1.7,2.3 13.9,2.3 13.9,8.1 "></polyline>
			<line class="st1" x1="1.7" y1="5" x2="13.9" y2="5"></line>
			<rect x="4" y="7.9" class="st1" width="3.3" height="3.3"></rect>
			<rect x="10.5" y="10.4" class="st1" width="10.2" height="10.2"></rect>
		</svg>
		<svg version="1.1" id="layer18" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			x="0px" y="0px" xml:space="preserve">
			<rect x="4.8" y="10" class="st0" width="8.5" height="10.2"></rect>
			<rect x="13.6" y="1.5" class="st0" width="7.5" height="18.6"></rect>
			<rect x="7.6" y="13.8" class="st1" width="2.7" height="5.4"></rect>
		</svg>



	</div>
	<!---end svg-->

    </div>
</template>
<script>

import {mapGetters} from 'vuex'
import sideNav from './sidenav'
import DashboardHeader from './dashboardHeadre'
import dashboardStastics from './dashboardStastics'
import OpenTable from './openTable'
import diffStatics from './diffStatics'
import SecondTable from './secondOpenTable'
import diffStatic2 from './diffStatics2'
export default {
	components:{
		sideNav,
		DashboardHeader,
		dashboardStastics,
		OpenTable,
		diffStatics,
		SecondTable,
		diffStatic2
	},
	async fetch() {
		console.log();
		if(!this.$auth.user){
			this.$router.push('/login');
		}
     	this.$store.dispatch('dashboard_counts');
		this.$store.dispatch('first_stats');
		this.$store.dispatch('defaulters');
		this.$store.dispatch('assets');
		 
	},
	computed:{
		...mapGetters({dashboardCounts:"getDashboardCounts"}),
		...mapGetters({firstStats:"getFirstStats"}),
		...mapGetters({defaulters:"getDefaulters"}),
		...mapGetters({assets:"getAssets"}),
		

	},
}
</script>