<template>
       						<div class="d-flex customRow flex-wrap">
							<div class="item">
								<div class="infoBox">
									<div class="d-flex justify-content-between">
										<div class="iconBox light-ylw-bg">
											<svg viewBox="0 0 24 24">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#layer9">
												</use>
											</svg>
										</div>
										<div class="iconNumber">{{dashboardCounts.residents}}</div>
									</div>
									<p>Residents</p>
								</div>
							</div>
							<div class="item">
								<div class="infoBox">
									<div class="d-flex justify-content-between">
										<div class="iconBox greenish-blue-bg">
											<svg viewBox="0 0 24 24">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#layer10">
												</use>
											</svg>
										</div>
										<div class="iconNumber">{{dashboardCounts.regularVisitorCount}}</div>
									</div>
									<p>Regular Visitor</p>
								</div>
							</div>
							<div class="item">
								<div class="infoBox">
									<div class="d-flex justify-content-between">
										<div class="iconBox orange-bg">
											<svg viewBox="0 0 24 24">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#layer11">
												</use>
											</svg>
										</div>
										<div class="iconNumber">{{dashboardCounts.serviceProvidersCount}}</div>
									</div>
									<p>Service Provider</p>
								</div>
							</div>
							<div class="item">
								<div class="infoBox">
									<div class="d-flex justify-content-between">
										<div class="iconBox violet-bg">
											<svg viewBox="0 0 24 24">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#layer12">
												</use>
											</svg>
										</div>
										<div class="iconNumber">{{dashboardCounts.guardCount}}</div>
									</div>
									<p>Security Guard</p>
								</div>
							</div>
							<div class="item">
								<div class="infoBox">
									<div class="d-flex justify-content-between">
										<div class="iconBox red-bg">
											<svg viewBox="0 0 24 24">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#layer13">
												</use>
											</svg>
										</div>
										<div class="iconNumber">{{dashboardCounts.complaintCount}}</div>
									</div>
									<p>Complaints</p>
								</div>
							</div>
							<div class="item">
								<div class="infoBox">
									<div class="d-flex justify-content-between">
										<div class="iconBox green-bg">
											<svg viewBox="0 0 24 24">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#layer14">
												</use>
											</svg>
										</div>
										<div class="iconNumber">{{dashboardCounts.committee_member_count}}</div>
									</div>
									<p>Committee Members</p>
								</div>
							</div>
							<div class="item">
								<div class="infoBox">
									<div class="d-flex justify-content-between">
										<div class="iconBox yellow-bg">
											<svg viewBox="0 0 24 24">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#layer15">
												</use>
											</svg>
										</div>
										<div class="iconNumber">{{dashboardCounts.non_register_count}}/{{dashboardCounts.non_register_count+dashboardCounts.register_count}}</div>
									</div>
									<p>Pending App Download</p>
								</div>
							</div>
							<div class="item">
								<div class="infoBox">
									<div class="d-flex justify-content-between">
										<div class="iconBox blue-bg">
											<svg viewBox="0 0 24 24">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#layer16">
												</use>
											</svg>
										</div>
										<div class="iconNumber">{{dashboardCounts.register_count}}/{{dashboardCounts.non_register_count+dashboardCounts.register_count}}</div>
									</div>
									<p>Total App Download</p>
								</div>
							</div>
							<div class="item">
								<div class="infoBox">
									<div class="d-flex justify-content-between">
										<div class="iconBox light-violet-bg">
											<svg viewBox="0 0 24 24">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#layer17">
												</use>
											</svg>
										</div>
										<div class="iconNumber">{{dashboardCounts.downloadedButNotRegistered}}</div>
									</div>
									<p>Download But Not Registered</p>
								</div>
							</div>
							<div class="item">
								<div class="infoBox">
									<div class="d-flex justify-content-between">
										<div class="iconBox light-ylw-bg">
											<svg viewBox="0 0 24 24">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#layer18">
												</use>
											</svg>
										</div>
										<div class="iconNumber">{{dashboardCounts.unitCount}}</div>
									</div>
									<p>Units</p>
								</div>
							</div>
						</div>
</template>

<script>
export default {
    name:'dashboardStastics',
	props:{
		dashboardCounts:{
			type:Object,
			required:true
		}
	}
}
</script>