<template>
    <div class="differentStatistics">
							<div class="row">
								<div class="col-md-6">
									<div class="openTickets">
										<!-- mainHeading -->
										<header class="mainHeading d-flex justify-content-between align-items-center">
											<h4>Society Statistics</h4>
											<a href="#." class="pl-2 resize"><img src="@/assets/images/resize-icon.jpg"
													alt=""></a>
										</header>
										<!-- mainHeading -->
										<div class="resizeBox">
											<!--otherInfoCol-->
											<div class="otherInfoCol">
												<div
													class="otherInfo d-flex align-items-center justify-content-between">
													<h4>Flats</h4>
													<p>{{stats.society.flats}}</p>
												</div>
												<div
													class="otherInfo d-flex align-items-center justify-content-between">
													<h4>Residents</h4>
													<p>{{stats.society.residents}}</p>
												</div>
												<div
													class="otherInfo d-flex align-items-center justify-content-between">
													<h4>Tenants</h4>
													<p>{{stats.society.tenants}}</p>
												</div>
												<div
													class="otherInfo d-flex align-items-center justify-content-between">
													<h4>Occupied</h4>
													<p>{{stats.society.occupied}}</p>
												</div>
												<div
													class="otherInfo d-flex align-items-center justify-content-between">
													<h4>Parking</h4>
													<p>{{stats.society.parking}}</p>
												</div>
												<div
													class="otherInfo d-flex align-items-center justify-content-between">
													<h4>Vehicles</h4>
													<p>{{stats.society.vehicles}}</p>
												</div>
											</div>
											<!--otherInfoCol-->
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="openTickets">
										<!-- mainHeading -->
										<header class="mainHeading d-flex justify-content-between align-items-center">
											<h4>Security Report</h4>
											<a href="#." class="pl-2 resize"><img src="@/assets/images/resize-icon.jpg"
													alt=""></a>
										</header>
										<!-- mainHeading -->
										<div class="resizeBox">
											<!--otherInfoCol-->
											<div class="otherInfoCol">
												<div
													class="otherInfo d-flex align-items-center justify-content-between">
													<h4>Regular Visitors</h4>
													<p>{{stats.security.regular_visitors}}</p>
												</div>
												<div
													class="otherInfo d-flex align-items-center justify-content-between">
													<h4>Incidents</h4>
													<p>{{stats.security.incidents}}</p>
												</div>
												<div
													class="otherInfo d-flex align-items-center justify-content-between">
													<h4>Alarm Tiggers</h4>
													<p>{{stats.security.alarm_triggers}}</p>
												</div>
												<div
													class="otherInfo d-flex align-items-center justify-content-between">
													<h4>Guard Sleep</h4>
													<p>{{stats.security.guard_sleep}}</p>
												</div>
												<div
													class="otherInfo d-flex align-items-center justify-content-between">
													<h4>Senior Citizen Check</h4>
													<p>{{stats.security.senior_citizen_check}}</p>
												</div>
											</div>
											<!--otherInfoCol-->
										</div>
									</div>
								</div>
							</div>
						</div>
</template>
<script>
export default {
	props:{
		stats:{
			type:Object,
			required:true
		}
	}
}
</script>