<template>
    <div class="differentStatistics">
							<div class="row">
								<div class="col-md-6">
									<div class="openTickets">
										<header class="mainHeading">
											<h4>Assets</h4>
										</header>
										<div class="otherInfoCol">
											<div class="otherInfo d-flex align-items-center justify-content-between">
												<h4>Active Asset</h4>
												<p>{{assets.active_asset}}</p>
											</div>
											<div class="otherInfo d-flex align-items-center justify-content-between">
												<h4>Under Service Assets</h4>
												<p>{{assets.under_service_asset}}</p>
											</div>
											<div class="otherInfo d-flex align-items-center justify-content-between">
												<h4>Expired Assets</h4>
												<p>{{assets.expired_asset}}</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="openTickets">
										<header class="mainHeading">
											<h4>Defaulters</h4>
										</header>
										<div class="otherInfoCol">
											<div class="otherInfo d-flex align-items-center justify-content-between">
												<h4>Less than 10,000</h4>
												<p>{{defaulters.lt10k}}</p>
											</div>
											<div class="otherInfo d-flex align-items-center justify-content-between">
												<h4>Rs. 10,000 - Rs. 50,000</h4>
												<p>{{defaulters.tenkTo50k}}</p>
											</div>
											<div class="otherInfo d-flex align-items-center justify-content-between">
												<h4>Rs. 50,000 - Rs. 1,00,000</h4>
												<p>{{defaulters.fiftyTo1lac}}</p>
											</div>
											<div class="otherInfo d-flex align-items-center justify-content-between">
												<h4>Rs. 1,00,000 - Rs. 2,00,000</h4>
												<p>{{defaulters.oneLacToTwo}}</p>
											</div>
											<div class="otherInfo d-flex align-items-center justify-content-between">
												<h4>SRs. 2,00,000 - Rs. 5,00,000</h4>
												<p>{{defaulters.twoLacTofive}}</p>
											</div>
											<div class="otherInfo d-flex align-items-center justify-content-between">
												<h4>Greater than 5,00,000</h4>
												<p>{{defaulters.gt5lac}}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
</template>
<script>
export default {
	props:{
		defaulters:{
			type:Object,
			required:true
		},
		assets:{
			type:Object,
			required:true
		}
	}
}
</script>