<template>
    <div class="openTickets">
							<header class="mainHeading d-flex justify-content-between align-items-center">
								<h4>Open Tickets</h4>
								<a href="#." class="pl-2 resize"><img src="@/assets/images/resize-icon.jpg" alt=""></a>
							</header>
							<div class="resizeBox">
								<!-- tabel part -->
								<div class="table-responsive tableHolder">
									<table class="table">
										<thead>
											<tr>
												<th>No</th>
												<th>Title</th>
												<th>Issue State</th>
												<th>Unit</th>
												<th>Created By</th>
												<th>Category</th>
												<th>Status</th>
												<th>Severity Level</th>
												<th>Created At</th>
												<th>Updated At</th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="item of openTickets.complains" :key="item.id">
												<td>{{item.id}}</td>
												<td>
													<p class="blue-txt">{{item.title}}</p>
													<p class="grey-txt">Created by {{item.user.first_name}} {{item.user.last_name}}</p>
												</td>
												<td>
													<span v-if="item.issue_status==='OPENED'" class="cstmBadge badge-success">{{item.issue_status}}</span>
													<span v-else class="cstmBadge badge-danger">{{item.issue_status}}</span>
												</td>
												<td v-if="item.unit">{{item.unit.block_name}} - {{item.unit.unit_no}}</td>
												<td v-else></td>
												<td>{{item.user.first_name}} {{item.user.last_name}}</td>
												<td>{{item.complain_category.category_name}}</td>
												<td>{{item.status}}</td>
												<td>
													<span v-if="item.severity_level==null" class="cstmBadge badge-warning">None</span>
													<span v-else class="cstmBadge badge-success">{{item.severity_level}}</span>
												</td>
												<td>{{item.createdAt.substring(0,10)}}</td>
												<td>{{item.updatedAt.substring(0,10)}}</td>
											</tr>

										</tbody>
									</table>
								</div>
								<!-- /.tabel part -->
								<div class="d-md-flex justify-content-between align-items-center paginationHolder">
									<p>Showing 1 to 5 of 20 entries</p>

									<nav class="pagination-nav">
										<ul class="pagination mb-0">
											<li :disabled="openTickets.cursors.hasPrevious" @click="previousPage" class="page-item"><a class="page-link" href="#."><i
														class="fas fa-angle-left mr-2"></i>Previous</a></li>
											<li @click="currPage(curr)" class="page-item" v-for="curr in totalPages" :key="curr"><a :class="curr===currentPage ? 'page-link active':'page-link'"  href="#.">{{curr}}</a></li> 
											<li :disabled="openTickets.cursors.hasNext" @click="nextPage" class="page-item"><a class="page-link" href="#.">Next <i
														class="fas fa-angle-right ml-2"></i></a></li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
</template>
<script>
import {mapGetters} from 'vuex'
export default {
	data(){
		return{
			currentPage:1
		}
	},
	methods:{
		currPage(curr){
			this.currentPage=curr;
			this.$store.dispatch('openTickets',this.currentPage);
				
		},
		nextPage(){
			if(this.openTickets.cursors.hasNext){
				console.log("next"+this.openTickets.cursors.hasNext)
				this.currentPage++;
				this.$store.dispatch('openTickets',this.currentPage);
			}
			
		},
		previousPage(){
			if(this.openTickets.cursors.hasPrevious){
			console.log("previous"+this.openTickets.cursors.hasPrevious)
			this.currentPage--;
			this.$store.dispatch('openTickets',this.currentPage);
			}
		}

	},
	async fetch() {
     	this.$store.dispatch('openTickets',this.currentPage);
	},
	computed:{
		...mapGetters({openTickets:"getOpenTickets"}),
		totalPages(){
			return this.openTickets.cursors.totalPages;
		}

	},
	
}
</script>