<template>
    <div class="openTickets">
							<!-- mainHeading -->
							<header class="mainHeading d-flex justify-content-between align-items-center">
								<h4>Amenity</h4>
								<a href="#." class="pl-2 resize"><img src="@/assets/images/resize-icon.jpg" alt=""></a>
							</header>
							<!-- mainHeading -->
							<div class="resizeBox">
								<!-- tabel part -->
								<div class="table-responsive tableHolder amenityTable">
									<table class="table">
										<thead>
											<tr>
												<th>Amenity</th>
												<th>Last 7 Days</th>
												<th>Last 30 Days</th>
												<th>Payment Pending (Overall)</th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="item of amenity" :key="item.facility.id">
												<td>
													<p>{{item.facility.facility_name}}</p>
												</td>
												<td>
													<p>{{item.facility_count_week.week_count}}</p>
												</td>
												<td>
													<p>{{item.facility_count_month}}</p>
												</td>
												<td>
													<p>{{item.pending_payment.amount}}</p>
												</td>

											</tr>
										</tbody>
									</table>
								</div>
								<!-- /.tabel part -->
							</div>
						</div>
</template>
<script>
import {mapGetters} from 'vuex'
export default {
	
	methods:{

	},
	async fetch() {
     	this.$store.dispatch('amenity');
	},
	computed:{
		...mapGetters({amenity:"getAmenity"}),
	},
	
}
</script>