<template>
    <div>
		 <script src="./../../assets/css/style.css"></script>
        <aside class="dashboardAside fixed-top d-none d-sm-block bg-white">
				<!-- logo -->
				<div class="logo">
					<a href="/dashboard">
						<img src="@/assets/images/brand.png" alt="">
					</a>
				</div>
				<!-- /.logo -->

				<!---Search--->
				<!-- <div class="inputField">
					<input type="search" class="form-control" placeholder="Search...">
				</div> -->
				<!---/.Search--->

				<!-- sideNav -->
				<!-- <div class="accordion" role="tablist">
					<b-card no-body class="hasNav"  v-for="item of menu" :key='item.name'>
					<b-card-header header-tag="header" class="p-1" role="tab">
						<b-button block v-b-toggle="item.id" variant="info">{{item.name}}</b-button>
					</b-card-header>
					<b-collapse :id="item.id" item.visible accordion="my-accordion" role="tabpanel">
						<b-card no-body class="mb-1"  v-for="sitem of item.sub" :key='sitem.name'>
						<b-card-header header-tag="header" class="p-1" role="tab">
						<b-button block v-b-toggle="sitem.id" variant="info">{{sitem.name}}</b-button>
						</b-card-header>
					<b-collapse :id="sitem.id" accordion="my-accordion2" role="tabpanel">
						<b-card-body  v-for="ssitem of sitem.sub" :key='ssitem.name'>
						<b-card-text>{{ ssitem.name }}</b-card-text>
						</b-card-body>
					</b-collapse>
						</b-card>
						</b-collapse>
					</b-card> -->

					<!-- <b-card no-body class="mb-1">
					<b-card-header header-tag="header" class="p-1" role="tab">
						<b-button block v-b-toggle.accordion-2 variant="info">Accordion 2</b-button>
					</b-card-header>
					<b-collapse id="accordion-2" accordion="my-accordion" role="tabpanel">
						<b-card-body>
						<b-card-text>{{ text }}</b-card-text>
						</b-card-body>
					</b-collapse>
					</b-card>

					<b-card no-body class="mb-1">
					<b-card-header header-tag="header" class="p-1" role="tab">
						<b-button block v-b-toggle.accordion-3 variant="info">Accordion 3</b-button>
					</b-card-header>
					<b-collapse id="accordion-3" accordion="my-accordion" role="tabpanel">
						<b-card-body>
						<b-card-text>{{ text }}</b-card-text>
						</b-card-body>
					</b-collapse>
					</b-card> -->
				<!-- </div> -->
				<div class="accordion" role="tablist">
				<ul class="sideNav">
					<li class="hasNav"  v-for="item of menu" :key='item.name' >
						<a href="#." v-b-toggle="item.id">
							<svg viewBox="0 0 24 24">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" :xlink:href="item.img"></use>
							</svg>
							<span>{{item.name}}</span>
						</a>
						<b-collapse :id="item.id" item.visible accordion="my-accordion" role="tabpanel">
						<ul class="subMenu"  >
							<li  v-for="sitem of item.sub" :key='sitem.name'  :class="sitem.sub?'hasSub':''" >
								<a @click="stopProcess(sitem.route)"  v-b-toggle="sitem.id" >
									<svg viewBox="0 0 24 24">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" ></use>
									</svg>
									<span>{{sitem.name}}</span>
								</a>
								<b-collapse :id="sitem.id"  accordion="my-accordion2" role="tabpanel">
								<ul class="subMenu1" >
									<li  v-for="ssitem of sitem.sub" :key='ssitem.name' >
										<a href="#.">
											<svg viewBox="0 0 24 24">
												<use xmlns:xlink="http://www.w3.org/1999/xlink">
												</use>
											</svg>
											<span>{{ssitem.name}}</span>
										</a>
									</li>
								</ul>
								</b-collapse>
							</li>
						</ul>
						</b-collapse>
					</li>
				</ul> 
				</div>
				<!-- /.sideNav

				sideMenuBtn -->
				<button class="sideMenuBtn"><i class="fas fa-angle-left"></i></button>
				<!-- /.sideMenuBtn -->

			</aside>
			<!-- jQuery first, then Popper.js, then Bootstrap JS -->
			<!-- /.dashboardAside -->

    </div>
</template>
<script>
export default {
	methods:{
		menuMouse(item){
			this.ul1=item.name;
		},
		menu1Mouse(item){
			this.ul2=item.name;
			console.log(this.ul2)
		},
		async logout(){
			await this.$store.dispatch('logoutUser',this.user);
			console.log(this.loginResponse.message,this.loginResponse.type);
		},
		stopProcess(route){
			this.$router.push(route);
      }
	},
	data(){
		return{
			ul1:'',
			ul2:'',
			menu:[
				{
					visible:false,
					id:'1',
					img:'#layer1',
					name:'Property',
					sub:[
						{
							visible:false,
							id:'11',
							name:'Flat Owners',
							route:'/user/create'
						},
						{
							visible:false,
							id:'12',
							name:'Blocks and Wings',
							route:'/blocks/create'
						},
						{      visible:false,
							id:'13',
							name:'Flats',
							route:'/unit/create'
						},
						{      visible:false,
							id:'14',
							name:'Tenants',
							route:'/tenant/list'
						},
						{      visible:false,
							id:'15',
							name:'Vehicle Setup',
							route:'/vehicle/create'
						},
						{      visible:false,
							id:'16',
							name:'Parking Space',
							route:'/parking/create'
						}
					]
				},
				{
					visible:false,
					id:'2',
					img:'#layer2',
					name:'Support Stuff',
					sub:[
						{      visible:false,
							id:'21',
							name:'Guard Profile',
							route:'/guards/create'
						},
						{      visible:false,
							id:'22',
							name:'Sentinel App Login',
							route:'/app-login/create'
						},
						{      visible:false,
							id:'23',
							name:'Technicians',
							route:'/technicians/create'
						},
						{      visible:false,
							id:'24',
							name:'Regular Visitors',
							route:'/Visitor-log/regular'
						},
						{      visible:false,
							id:'25',
							name:'Service Provider',
							route:'/service-provider/create'
						}
					]
				},
				{
					visible:false,
					id:'3',
					img:'#layer3',
					name:'Guards',
					sub:[
						{      visible:false,
							id:'31',
							name:'Guard Patrolling Checkpoints',
							route:'/guards/checkpoints'
						},
						{      visible:false,
							id:'32',
							name:'Guard Patrolling Routes',
							route:'/guards/routes'
						},
						{      visible:false,
							id:'33',
							name:'Guard Patrolling Logs',
							route:'/guards/logs'
						}
					]
				},
				{
					visible:false,
					id:'4',
					img:'#layer5',
					name:'Logs',
					sub:[
						{      visible:false,
							id:'41',
							name:'Visitors'
						},
						{      visible:false,
							id:'42',
							name:'Regular Visitor Entry Log'
						},
						{      visible:false,
							id:'43',
							name:'Commercial Vehicle'
						},
						{      visible:false,
							id:'44',
							name:'Missed Alarm'
						},
						{      visible:false,
							id:'45',
							name:'Wrong Parking Log'
						}
					]
				},
				{
					visible:false,
					id:'5',
					img:'#layer5',
					name:'Management',
					sub:[
						{      visible:false,
							id:'51',
							name:'Notice and Circulars'
						},
						{      visible:false,
							id:'52',
							name:'Complaints'
						},
						{      visible:false,
							id:'53',
							name:'Documents'
						},
						{      visible:false,
							id:'54',
							name:'Broadcast'
						},
						{      visible:false,
							id:'55',
							name:'Polls and Survey'
						},
						{      visible:false,
							id:'56',
							name:'Meetings'
						},
						{      visible:false,
							id:'57',
							name:'Amenities',
							sub:[
								{
									id:'570',
									name:'Amenities'
								},
								{
									id:'571',
									name:'Amenity Bookings'
								}
							]
						},
						{      visible:false,
							id:'58',
							name:'Asset',
							sub:[
								{
									id:'580',
									name:'Asset Categories'
								},
								{
									id:'581',
									name:'Asset Registration'
								}
							]
						},
						{      visible:false,
							id:'59',
							name:'Inventory',
							sub:[
								{
									id:'590',
									name:'Transaction Type ALias'
								},
								{
									id:'591',
									name:'Item Category'
								},
								{
									id:'592',
									name:'Brand Master'
								},
								{
									id:'593',
									name:'Flat Master'
								},
								{
									id:'594',
									name:'Item Master'
								},
								{
									id:'595',
									name:'Stock In'
								},
								{
									id:'596',
									name:'Stock Out'
								}
							]
						}
					]
				},
				{
					visible:false,
					id:'6',
					img:'#layer4',
					name:'Accounts',
					sub:[
						{      visible:false,
							id:'61',
							name:'Accounts Setup',
							sub:[
								{
									id:'610',
									name:'Accounts Setup'
								},
								{
									id:'611',
									name:'Ledger'
								},
								{
									id:'612',
									name:'Accounts Settings'
								},
								{
									id:'613',
									name:'Bank and Cash'
								},
								{
									id:'614',
									name:'Flat Opening Balances'
								},
								{
									id:'615',
									name:'Invoice Types Ledger'
								},
								{
									id:'616',
									name:'Payment Types'
								},
								{
									id:'617',
									name:'Taxes'
								},
								{
									id:'618',
									name:'TDS'
								}
							]
						},
						{      visible:false,
							id:'62',
							name:'Accountant',
							sub:[
								{
									id:'620',
									name:'Budgets'
								},
								{
									id:'621',
									name:'Contra Transaction'
								},
								{
									id:'622',
									name:'Manual Journal'
								}
							]
						},
						{      visible:false,
							id:'63',
							name:'Residental Income',
							sub:[
								{
									id:'630',
									name:'Maintenance Invoicing'
								},
								{
									id:'631',
									name:'Late Fees Configuration'
								},
								{
									id:'632',
									name:'Bulk Invoicing'
								},
								{
									id:'633',
									name:'Utility Invoicing'
								},
								{
									id:'634',
									name:'Invoices'
								},
								{
									id:'635',
									name:'Non-member Invoices'
								},
								{
									id:'636',
									name:'Gas Meter'
								},
								{
									id:'637',
									name:'Gas Invoice'
								},
								{
									id:'638',
									name:'Offline Payment Requests'
								},
								{
									id:'639',
									name:'Payments Recieved'
								},
								{
									id:'639+1',
									name:'Credit Note'
								},
								{
									id:'639+2',
									name:'Advance Payment'
								},
								{
									id:'639+3',
									name:'Capture Lump-sum Amount'
								},
								{
									id:'639+4',
									name:'Non-members'
								}
							]
						},
						{      visible:false,
							id:'64',
							name:'Society Expenses',
							sub:[
								{
									id:'640',
									name:'Vendors'
								},
								{
									id:'641',
									name:'Debit Notes'
								}
							]
						},
						{      visible:false,
							id:'65',
							name:'Reports',
						}
					]
				},{
					visible:false,
					id:'7',
					img:'#layer7',
					name:'Settings',
					sub:[
						{      visible:false,
							id:'71',
							name:'Property Information'
						},
						{      visible:false,
							id:'72',
							name:'Checklist Setup'
						},
						{      visible:false,
							id:'73',
							name:'Important Numbers'
						},
						{      visible:false,
							id:'74',
							name:'Defaulter Setting'
						},
						{      visible:false,
							id:'75',
							name:'Email Preferences'
						}
					]
				}
			]
		}
	}
}
</script>