<template>
<div class="forBlock">
     <div class="forHeading" style="margin-bottom:15px;margin-top:15px">
       <div class="d-flex">
          <h4>Technicians</h4>
          <button type="button" class="btn btn-light">
            <i data-v-6d07042e="" aria-hidden="true" class="fa fa-plus"></i>
            &nbsp;Add Technicians
            </button>
       </div>
       
     </div>
     <form class="userForm d-flex" action="">
							<div class="col-sm-12">
						<input type="text" class="form-control" placeholder="Search with Name, Phone No. and Email" style="margin-bottom:15px;margin-top:15px" >
                            </div>
                       </form>
     <div class="forBox">
      <div class="table-responsive tableHolder tableHolderB tableHolderC">
       <table class="table">
         <thead>
           <tr>
           <th>Name</th>
           <th>Phone Number</th> 
           <th>Department</th> 
           <th>Action</th>

           </tr>
           </thead>
           <tbody>
             <tr v-for="item of data.technicians" :key="item.id">
               
               <td>{{item.name}}</td>
               <td>{{item.phone_no}}</td>
               <td>{{item.technician_department.department}}</td>
               <td>
													<span  class="cstmBadge customBtn">
														<button  type="button" class="btn" data-toggle="modal"  :data-target="'#'+item.id+item.name">
														<i class="fa fa-edit"></i> 
														</button>
													<TModal
                                                    :id="item.id+item.name"
                                                    :users="item"
                                                    
                                                    />
														
													</span>
													<span class="cstmBadge customBtn" >
														<button type="button"  data-toggle="modal"  :data-target="'#'+item.id" class="btn">
														<i class="fa fa-trash"></i> 
														</button>
													
													</span>
								  </td>
             </tr>
           </tbody>
       </table>
      </div>
     </div>
   </div>
</template>
<script>

import {mapGetters} from 'vuex'
import TModal from './technicianModal.vue'
export default {
  data(){
    return{
          filter:"0",
          unit:"0",
          vehicle_no:"",
          owner_id:"0",
          parking_id:"0"


    }
  },
  components:{
      TModal
  },
  props:{
   
  },
   async fetch(){
     this.$store.dispatch('technicians');

  },
  computed:{
    ...mapGetters({data:"gettechnicians"}),
   
  }, 
  watch:{
    
  }
  
}
</script>