<template>
  <div
    class="modal fade"
    :id="id"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button
            type="button"
            class="close"

            id="close1"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="text-center">
             <h2>Edit User</h2>
          </div>
          <form class="userForm" @submit.prevent="submit">
            <div class="inputCol">
              <div class="inputWrap">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Name"
                  v-model="users.name"
                />
              </div>
              <div class="inputWrap">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Phone No."
                  v-model="users.phone_no"
                />
              </div>
            </div>
            <div class="inputCol">
              <div class="inputWrap">
                	<select class="custom-select" v-model="users.technician_department_id">
							<option value="0">Select the Department</option>
							<option v-for="dept of depts" :key="dept.id" :value="String(dept.id)">{{dept.department}}</option>
						</select>
              </div>
            </div>
            <div class="text-center mt-4">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  components: {
  },
  props: ["users", "id"],
  data() {
    return {
    }
  },
  computed: {
    ...mapGetters({depts: "getDepts" }),
    },
  async fetch(){
      this.$store.dispatch('deptList');
  }
};
</script>
<style scoped>
.logoModal {
  margin-bottom: 10px;
  display: block;
}
.userForm {
  padding-top: 20px;
}
.multiselect__tag {
  background: #28a745 !important;
}

</style>