<template>
    <div>
        <Guards/>
    </div>
</template>
<script>
import Guards from '@/components/SupportStuff/guards/guards.vue'
export default {
    components:{
        Guards
    }    
}
</script>