
/*responsive css*/
/* Maximum height */
@media (max-height: 700px) {
    .inputField .form-control {
        height: 50px;
    }

    .borderHeading {
        margin: 18px 0;
    }

    .inputField .btn-warning {
        line-height: 30px;
    }

    .rgBox {
        padding: 30px 55px;
    }

    .brand a {
        margin-bottom: 10px;
    }9

    .mainHeading h2 {
        margin-bottom: 15px;
    }

    .inputField+.inputField {
        margin-top: 15px;
    }
}

@media (max-height: 585px) {
    .loginSec {
        min-height: 100vh;
        height: auto;
    }
}

/*min-width*/
@media (min-width: 431px) {}

@media (min-width: 601px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

/*max-width*/
@media (max-width: 1400px) {
   .transactionsA h5{
       font-size: 12px;
   }
   .transactionsBItem span{
       font-size: 13px;
   }
   .btnGroup a {
    min-width: 180px;
}
.btnGroup a + a {
    margin-left: 15px;
}
.paymentOption .paymentOptionItem + .paymentOptionItem {
    padding-left: 14px;
}
.transactionsB .transactionsBItem + .transactionsBItem{
    padding-left: 10px;
}
.paymentOption {
    padding: 22px 10px;
}
}
@media (max-width: 1199px) {
    .brand a {
        margin-bottom: 10px;
    }

    .rgBox {
        padding: 30px 40px;
    }

    .customRow .item {
        width: 33.33%;
    }
    .transactionsB .transactionsBItem{
        padding: 8px 0;
    }
    .btnGroup a {
        min-width: 120px;
        padding: 10px;
    }
    .paymentOption .paymentOptionItem + .paymentOptionItem {
        padding-left: 10px;
    }
}

@media (max-width: 991px) {
    .dashboardAside:not(.dashboardContentNav) {
        width: 6rem;
    }

    .sideNav>li>a>span,
    .hasSub span {
        display: none;
    }

    .sideNav>li>a::after {
        display: none;
    }

    .sideMenuBtn {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .viewSideBar .dashboardAside:not(.dashboardContentNav) {
        width: 16.25rem;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1031;
    }

    .viewSideBar .sideNav>li>a>span {
        display: inline-block;
    }

    .viewSideBar .sideNav>li>a::after {
        display: block;
    }

    .viewSideBar .sideMenuBtn {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .dropdown-menu-left {
        min-width: 26rem;
    }

    .dropdown-menu-left {
        min-width: 20rem;
    }

    .headerList li+li {
        padding-left: 20px;
    }

    .otherInfo {
        padding: 5px 10px;
    }

    .dashboardContent {
        width: calc(100% - 6rem);
        margin-left: 6rem;
    }

    .dashboardHeader.fixed-top {
        left: 117px;
    }

    .viewSideBar .sideNav a span {
        font-size: 13px;
    }
    .paymentOptionItem{
        width: 33.33%;
        padding: 5px;
    }
    .paymentOption .paymentOptionItem + .paymentOptionItem{
        padding-left: 0;
    }
 
}

@media (max-width: 767px) {
    .rgBox {
        width: 380px;
        padding: 20px 15px;
    }

    .inputField .form-control {
        height: 36px;
        font-size: 14px;
    }

    .inputField+.inputField {
        margin-top: 10px;
    }

    .inputField .btn-warning {
        line-height: 20px;
        font-size: 14px;
    }

    .loginForm .text-success {
        margin-top: 10px;
        font-size: 14px;
    }

    .borderHeading {
        margin: 15px 0;
    }

    .contactList li i {
        margin-right: 10px;
    }

    .contactList li a {
        font-size: 14px;
    }

    .mainHeading h2 {
        font-size: 21px;
    }

    body,
    .dropdown-menu {
        font-size: 13px;
    }

    .dropdown-menuNoti {
        padding: 15px;
    }

    .customRow .item {
        width: 50%;
    }

    .userName {
        font-size: 13px;
    }

    .iconNumber {
        font-size: 18px;
    }

    .infoBox {
        padding: 10px;
    }

    .infoBox p {
        font-size: 13px;
    }

    .dashboardContentNav {
        width: 55px;
        margin-left: 10px;
    }

    .tableHolder {
        padding: 0 10px;
    }

    .tableHolder .table th:nth-child(2) {
        min-width: 160px;
    }

    .paginationHolder p {
        margin-bottom: 15px;
    }

    .differentStatistics [class*="col-"]+[class*="col-"] {
        margin-top: 20px;
    }

    .paginationHolder {
        text-align: center;
    }

    .otherInfo p {
        font-size: 15px;
    }

    .sideNav .subMenu,
    .sideNav .subMenu1 {
        min-width: 150px;
    }

    .sideNav a svg {
        margin-right: 5px;
    }

    .subMenu a,
    .subMenu1 a {
        font-size: 11px;
    }

    /* .dashboardContent {
        width: 100%;
        margin-left: 0;
    } */

    .viewSideBar .dashboardContent {
        width: 100%;
        margin-left: 0;
    }

    .dashboardHeader.fixed-top {
        left: 95px;
    }
    .paymentOptionItem {
        width: 50%;
        padding: 5px;
    }
    .transactionsB .transactionsBItem + .transactionsBItem{
        padding-left: 6px;
    }
    .transactionsBItem span{
        font-size: 14px;
    }
    #myChart {
        height: 200px!important;
    }
    .btnGroup a {
        min-width: 100px;
    }
    .btn-outline-success{
        font-size: 12px;
    }
    .btnGroup a + a{
        margin-left: 10px;
    }
    .btnGroup{
        padding: 10px 15px;
    }
}

@media (max-width: 575px) {
    .dropdown-menu-left {
        min-width: 17rem;
    }

    .dashboardContentItems {
        padding-bottom: 20px;
    }

    .sideMenuBtnH {
        border: none;
        left: 16px;
        position: absolute;
        top: 15px;
        font-size: 18px;
        background-color: transparent;
        cursor: pointer;
    }

    .sideMenuBtnH:hover {
        opacity: 0.6;
    }

    .viewSideBar .dashboardAside:not(.dashboardContentNav) {
        display: block !important;
        position: fixed;
        top: 58px;
        width: 12rem;
        padding: 10px;
    }

    .viewSideBar .dashboardHeader {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 999;
    }

    .viewSideBar .dashboardHeader+.d-flex {
        padding-top: 20px;
    }

    .sideNav a {
        font-size: 12px;
    }

    .sideMenuBtn {
        display: none;
    }

    .dashboardHeader.fixed-top {
        left: 0;
        margin-right: 0;
    }

    .viewSideBar .dashboardHeader.fixed-top {
        left: 0;
    }
    .invoicePaymentCol [class*="col-"] + [class*="col-"] {
        margin-top: 20px;
    }
    .dashboardContent{
        width: 100%;
        margin-left: 0;
    }

}

@media (max-width: 480px) {
    .rgBox {
        width: 100%;
    }

    .dropdown-menuNoti {
        min-width: 13rem;
        right: auto;
        padding: 15px 10px;
    }

    .userNoti {
        padding-left: 6px;
    }

    .userNoti p {
        font-size: 12px;
    }

    .pagination .page-item:first-child a,
    .pagination .page-item:last-child a {
        font-size: 0;
    }

    .pagination-nav .fa-angle-left::before,
    .pagination-nav .fa-angle-right::before {
        font-size: 16px;
    }

    .iconNumber {
        font-size: 14px;
    }

    .infoBox p {
        font-size: 11px;
    }

    .otherInfo h4 {
        font-size: 14px;
    }

    .otherInfo p {
        font-size: 13px;
    }

    .viewSideBar .dashboardAside:not(.dashboardContentNav) {
        height: 100vh;
        overflow: auto;
        width: 13rem;
    }
    .paymentOptionItem span{
        font-size: 12px;
    }
    .btnGroup a + a {
        margin-left: 0;
    }
    .btnGroup a{
        margin: 5px;
    }
}