<template>
    <div class="blockRow">
   <div class="forBlock">
     <div class="forHeading">
       <h4>Add App-login</h4>
     </div>
     <div class="forBox">
       <form action="">
         <div class="inputRow row">
           <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Gate Contact Number" v-model="guard.gate_contact_number">
         <p style="color:red" v-if="addappLoginErrors.errors">{{addappLoginErrors.errors.gate_contact_number}}</p>
           </div>
        
           <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Gate Number" v-model="guard.gate_number">
         <p style="color:red" v-if="addappLoginErrors.errors">{{addappLoginErrors.errors.gate_number}}</p>
           </div>
        </div>
        <div class="inputRow row">
           <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="User Name" v-model="guard.user_name">
         <p style="color:red" v-if="addappLoginErrors.errors">{{addappLoginErrors.errors.user_name}}</p>
           </div>
           <div class="col-sm-6">        
        <input type="password" class="form-control" placeholder="Password" v-model="guard.password">
          <p style="color:red" v-if="addappLoginErrors.errors">{{addappLoginErrors.errors.password}}</p>
           </div>
        </div>
        <div class="inputRow row">
           <div class="col-sm-12">
        <button class="btn btn-primary" @click.prevent="addAppLogin()" >Save</button>
           </div>
        </div>
    </form>
     </div>
   </div>
<Tables
:data1="tableData"
/>
</div>
</template>
<script>
import Tables from './table'
import {mapGetters} from 'vuex'
export default {
    data(){
        return{
          guard:{
            
          },
        }
    },
  methods:{
    addAppLogin(){
        this.$store.dispatch('addAppLogin',this.guard).then(()=>{
          if(this.addappLoginErrors.errors){

          }
          else{
            this.guard={
            gate_number:"",
            user_name: "",
            gate_contact_number: "",
            password: ""
          }
          }
        });

    }
  },
  async fetch(){
     this.$store.dispatch('appLogin');
  },
  computed:{
    ...mapGetters({tableData:"getAppLogin"}),

     
     ...mapGetters({addappLoginErrors:"getAddAppLogin"}),
     
  }
  ,
    components:{
        Tables
    }
}
</script>