<template>
<div class="forBlock">
     <div class="forHeading">
       <div class="d-flex">
          <h4>App Login</h4>
          <button type="button" class="btn btn-light">
            <i data-v-6d07042e="" aria-hidden="true" class="fa fa-download"></i>
            &nbsp;Download Report
            </button>
       </div>
       
     </div>
     <div class="forBox">
      <div class="table-responsive tableHolder tableHolderB tableHolderC">
       <table class="table">
         <thead>
           <tr>
           <th>#</th> 
           <th>User Name</th>
           <th>Gate Contact Number</th> 
           <th>Gate Number</th> 
           <th>Password</th> 
           <th>Action</th>

           </tr>
           </thead>
           <tbody>
             <tr v-for="item of data1.app_logins" :key="item.id">
               
               <td>{{item.id}}</td>
               <td v-if="item.id==curI.id"><input type="text" v-model="curI.username"></td>
               <td v-else>{{item.username}}</td>
               <td v-if="item.id==curI.id"><input type="text" v-model="curI.gate_contact_number"></td>
               <td v-else>{{item.gate_contact_number}}</td>
               <td v-if="item.id==curI.id"><input type="text" v-model="curI.gate_no"></td>
               <td v-else>{{item.gate_no}}</td>            
               <td v-if="item.id==curI.id"><input type="text" v-model="curI.password_before_decrypt"></td>   
               <td v-else>{{item.password_before_decrypt}}</td>
                <td v-if="curI.id==item.id">
                 	<span  class="cstmBadge customBtn">
														<button @click="save()"  type="button" class="btn" >
														<i class="fa fa-save"></i> 
														</button>
													
														
													</span>
													<span class="cstmBadge customBtn" >
														<button type="button" @click='currentItemD()'   class="btn">
														X
														</button>
													
									</span>
               </td>
               <td v-else>
													<span  class="cstmBadge customBtn">
														<button @click='currentItem(item)' type="button" class="btn" >
														<i class="fa fa-edit"></i> 
														</button>
													
														
													</span>
													<span class="cstmBadge customBtn" >
														<button type="button"   class="btn">
														<i class="fa fa-trash"></i> 
														</button>
													
													</span>
								  </td>
             </tr>
           </tbody>
       </table>
      </div>
     </div>
   </div>
</template>
<script>

import {mapGetters} from 'vuex'
export default {
  data(){
    return{
          filter:"0",
          unit:"0",
          vehicle_no:"",
          owner_id:"0",
          parking_id:"0",
          curI:{}


    }
  },
  props:{
    data1:{
      required:true
    }
  },
   async fetch(){
     
  },
  computed:{
    
  }, 
  methods:{
    currentItem(item){
      this.curI=item;
    },
    currentItemD(item){
      this.curI={};
    },
    save(){
      let log={
        gate_contact_number: this.curI.gate_contact_number,
        gate_no: this.curI.gate_no,
        id: this.curI.id,
        password_before_decrypt: this.curI.password_before_decrypt,
        user_name: this.curI.user_name
      };
      this.$store.dispatch('editAppLogin',log).then(()=>{
        this.$store.dispatch('appLogin');
        this.curI={};
      });
    }
  },
  watch:{
    unit:function(){
      this.$store.dispatch('parking',{txt:'&unit_id='+this.unit});
    },
    vehicle_no:function(){
      if(this.vehicle_no.length>=4){
        this.$store.dispatch('parking',{txt:'&vehicle_no='+this.vehicle_no});
      }
    },
    owner_id:function(){
      this.$store.dispatch('parking',{txt:'&owner_id='+this.owner_id});
    },
    parking_id:function(){
      this.$store.dispatch('parking',{txt:'&parking_id='+this.parking_id});
    }
  }
  
}
</script>