<template>
<div>
    <ServiceProvider/>

</div>
    
</template>

<script>
import ServiceProvider from '@/components/SupportStuff/ServiceProvider/serviceProvider.vue'
export default {
    components:{
        ServiceProvider
    }
}
</script>