<template>
<div>
    <FlatOwner/>

</div>
    
</template>

<script>
import FlatOwner from '@/components/Property/flatOwners/flatOwner'
export default {
    components:{
        FlatOwner
    }
}
</script>