<template>
    <div>
        <AppLogin/>
    </div>
</template>
<script>
import AppLogin from '@/components/SupportStuff/sentinel/app-login.vue'
export default {
    components:{
        AppLogin
    }    
}
</script>