/*css*/
	

/*CSS Media Queries*/
@media (max-width: 1199px) {	
	
}
@media (max-width: 991px) {
	
}

@media (max-width: 767px) {
	
}

@media (max-width: 575px) {
	
	
}
@media (max-width: 481px) {
	
}
/* End */