/*
style.css
*/

* {
	margin: 0;
	padding: 0;
	outline: none
}

ul,
ol {
	list-style: none;
}

button,
input[type='submit'],
input[type='reset'],
a,
.tr4{
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
}

.tr3,
.contactList li i,
.dashboardAside,
.dashboardContent {
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.tr2 {
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

/*browser selection text and bg color*/
::-moz-selection {
	color: #fff;
	background: #000;
}

::selection {
	color: #fff;
	background: #000;
}

::-moz-selection {
	color: #fff;
	background: #000;
}

/*place holder text color*/
::-webkit-input-placeholder {
	color: #aaa;
}

:-moz-placeholder {
	color: #aaa;
}

::-moz-placeholder {
	color: #aaa;
}

:-ms-input-placeholder {
	color: #aaa;
}

/*chrome input type file cursor pointer*/
::-webkit-file-upload-button {
	cursor: pointer;
}

body,
html {
	min-height: 100%;
	font-family: 'Montserrat';
}

img {
	max-width: 100%;
}

a {
	display: inline-block;
}

a:hover {
	text-decoration: none;
}

.btn-warning {
	background-color: #d5de27;
	border-color: #d5de27;
	color: #1f272f;
}

.btn-warning:hover,
.btn-warning:not(:disabled):not(.disabled):active {
	background-color: #f2f794;
	border-color: #f2f794;
}

.text-success {
	color: #98b304 !important;
}

.bg-light {
	background-color: #ecf0f3 !important;
}

.bg-dark {
	background-color: #1f272f !important;
}

button:focus {
	outline: none;
}


/* loginPage */
.loginSec {
	width: 100%;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-image: url(../images/loginBg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
}

.loginPart {
	max-width: 532px;
	margin: 0 auto;
	text-align: center;
}

.brand a {
	display: inline-block;
	margin-bottom: 25px;
}

.mainHeading h2 {
	color: #1f272f;
	font-weight: 700;
	font-size: 29px;
	margin-bottom: 20px;
}

.rgBox {
	background-color: #fff;
	-webkit-box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.4);
	        box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.4);
	padding: 46px 55px;
	width: 532px;
	border-radius: 10px;
}

.inputField .form-control {
	height: 60px;
	border: 1px solid #abb1b6;
	color: #66696c;
	font-size: 18px;
	font-weight: 500;
}

.inputField .form-control:focus {
	-webkit-box-shadow: 0 0 0 0.2rem rgba(213, 222, 39, .25);
	        box-shadow: 0 0 0 0.2rem rgba(213, 222, 39, .25);
}

.inputField + .inputField {
	margin-top: 26px;
}

.inputField .btn-warning {
	line-height: 44px;
	font-size: 20px;
	font-weight: 600;
}

.loginForm .text-success {
	margin-top: 15px;
	font-size: 18px;
	font-weight: 600;
}

.loginForm .text-success:hover {
	text-decoration: none;
}

.borderHeading {
	position: relative;
	margin: 30px 0 18px;
}

.borderHeading:after {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	background-color: #1f272f;
	height: 1px;
	content: "";
}

.borderHeading h4 {
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	position: relative;
	margin: 0;
	padding: 5px 10px;
	z-index: 1;
	background-color: #fff;
	color: #1f272f;
}

.contactList {
	text-align: left;
	margin-bottom: 10px;
}

.contactList li a {
	color: #1f272f;
	font-size: 16px;
	font-weight: 500;
}

.contactList li a:hover {
	color: #98b304;
}

.contactList li+li {
	margin-top: 10px;
}

.contactList li i {
	width: 42px;
	height: 42px;
	border: 2px solid #ced2d6;
	display: inline-block;
	border-radius: 50px;
	text-align: center;
	line-height: 40px;
	color: #c0c0c0;
	vertical-align: middle;
	margin-right: 14px;
}

.contactList li a:hover i {
	color: #98b304;
	border-color: #000;
}

.contactList li span {
	display: inline-block;
	vertical-align: middle;
}

/******************* loginPageEnd *******************/
/* dashboardPage */
.dashboardSec {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100vh;
}

.dashboardAside {
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	position: relative;
	min-height: 100vh;
	width: 16.25rem;
	padding: 10px 15px;
	-webkit-box-shadow: 1px 0 1px rgba(0, 0, 0, 0.05), -1px 0 1px rgba(0, 0, 0, 0.05);
	        box-shadow: 1px 0 1px rgba(0, 0, 0, 0.05), -1px 0 1px rgba(0, 0, 0, 0.05);
}

.dashboardAside .logo {
	margin-bottom: 30px;
}

.sideNav {
	margin-bottom: 0;
	height: calc(100vh - 140px);
	margin-top: 30px;
	overflow-y: auto;
	overflow-x: hidden;
}

.sideNav li a {
	padding: 13px 20px;
	position: relative;
}

.sideNav a {
	color: #5b6671;
	font-size: 15px;
	font-weight: 500;
	position: relative;
	display: block;
}

.sideNav a svg {
	width: 18px;
	margin-right: 18px;
}

.sideNav a span,
.sideNav a svg {
	display: inline-block;
	vertical-align: middle;
}

.hasSub:after,
.sideNav>li:not(.noSub)>a:after {
	content: '\f105';
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position: absolute;
	top: 2px;
	right: 0px;
	color: #5b6671;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	top: 15px;
	right: 10px;
}

.sideNav li a:hover {
	background-color: #f2f5c0;
}

.sideNav .subMenu li a,
.sideNav .subMenu1 li a {
	padding: 10px;
}

.subMenu li {
	position: relative;
}

.sideNav li.selected .subMenu {
	display: block !important;
	padding-top: 10px;
	padding-left: 10px;
}

.subMenu1 {
	display: none;
}

.sideMenuBtn {
	position: absolute;
	top: 70px;
	right: -16px;
	width: 35px;
	height: 35px;
	border: none;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
}

.viewSideBar .sideMenuBtn {
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.viewSideBar .dashboardAside:not(.dashboardContentNav) {
	width: 6rem;
}

.viewSideBar .sideNav>li>a>span {
	display: none;
}

.viewSideBar .sideNav>li>a:after {
	display: none;
}

.viewSideBar .logo {
	margin-bottom: 10px;
}

.viewSideBar .sideNav>li>a svg {
	margin: 0 auto;
}

.st0 {
	fill: none;
	stroke: #5b6671;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.dashboardContent {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding-left: 20px;
	padding-top: 20px;
	width: calc(100% - 16.25rem);
	margin-left: 16.25rem;
}

.viewSideBar .dashboardContent {
	width: calc(100% - 7rem);
	margin-left: 7rem;
}

.dashboardHeader {
	background-color: #fff;
	padding: 10px 20px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 4px 9px 0px rgba(40, 47, 56, 0.08);
	        box-shadow: 0px 4px 9px 0px rgba(40, 47, 56, 0.08);
	margin-right: 20px;
	position: relative;
}

.notification svg {
	width: 28px;
}

.notification a {
	position: relative;
}

.notiAlert {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: #ff6363;
	border-radius: 50%;
	position: absolute;
	right: 0;
	top: 0;
}

.headerList {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 0;
}

.headerList li+li {
	padding-left: 40px;
}

.headerList li a {
	color: #828991;
}

.headerList span {
	display: inline-block;
	vertical-align: middle;
}

.headerList li a span:first-of-type{
	padding-left: 6px;
}

.userInfo b {
	display: block;
	font-weight: normal;
}

.userName {
	color: #3e4750;
	font-size: 15px;
}

.userInfo b.userStatus {
	color: #828991;
	font-size: 11px;
	font-weight: 500;
}

.headerList .dropdown-menu {
	opacity: 0;
	-webkit-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-transform: scale(.7) !important;
	-ms-transform: scale(.7) !important;
	transform: scale(.7) !important;
	display: block;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	border: 1px solid #e4e6e8;
	top: 100% !important;
	margin-top: 20px;
	visibility: hidden;
	width: 100%;
}

.headerList .show>.dropdown-menu {
	-webkit-transform: scale(1) !important;
	-ms-transform: scale(1) !important;
	transform: scale(1) !important;
	opacity: 1;
	visibility: visible;
}

.dropdown-menu-left {
	right: 0;
	left: auto !important;
	min-width: 35rem;
}

.userProfPic {
	width: 39px;
	height: 39px;
	border-radius: 50px;
	overflow: hidden;
}
.userProfPic img{
	width: 100%;
	height: 100%;
}

.info {
	color: rgba(255, 255, 255, 0.85);
	background-color: #ff6363;
}

.customRow {
	margin: -7px -8px;
}

.customRow .item {
	padding: 7px 8px;
	width: 20%;
}

.infoBox {
	background-color: #fff;
	padding: 12px 16px;
	-webkit-box-shadow: 0px 4px 9px 0px rgba(40, 47, 56, 0.08);
	        box-shadow: 0px 4px 9px 0px rgba(40, 47, 56, 0.08);
	border-radius: 5px;
}

.dashboardContentItems {
	width: calc(100% - 95px);
	padding-bottom: 29px;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
}

.iconBox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	padding: 7px;
	margin-bottom: 6px;
	background-color: #f2f5c0;
	margin-right: 10px;
}

.iconBox svg {
	width: 22px;
}

.iconNumber {
	color: #5b6167;
	font-size: 24px;
	font-weight: 700;
	padding-left: 10px;
}

.infoBox p {
	font-size: 14px;
	font-weight: 500;
	color: #5b6167;
	margin-bottom: 0;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.light-ylw-bg {
	background-color: #f2f5c0;
}

.greenish-blue-bg {
	background-color: #c0f5e9;
}

.orange-bg {
	background-color: #ffe0b3;
}

.violet-bg {
	background-color: #c0cff5;
}

.red-bg {
	background-color: #ffd3d3;
}

.green-bg {
	background-color: #d4f5c0;
}

.yellow-bg {
	background-color: #fff47a;
}

.blue-bg {
	background-color: #c0e2f5;
}

.light-violet-bg {
	background-color: #f8deff;
}

.st1 {
	fill: none;
	stroke: #a763b9;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
}

#layer17 .st0 {
	fill: none;
	stroke: #a763b9;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.light-ylw-bg .st0 {
	stroke: #929905;
}

#layer18 .st0 {
	stroke: #929905;
}

#layer18 .st1 {
	fill: none;
	stroke: #929905;
	stroke-linecap: round;
	stroke-linejoin: round;
}


.openTickets {
	background-color: #fff;
	margin: 16px 0;
	padding: 12px 0;
	-webkit-box-shadow: 0px 4px 9px 0px rgba(40, 47, 56, 0.08);
	        box-shadow: 0px 4px 9px 0px rgba(40, 47, 56, 0.08);
	border-radius: 8px;
}

.tableHolder {
	font-size: 13px;
	font-weight: 500;
	color: #5b6167;
	margin: 10px 0 15px;
	padding: 0 15px;
}

.tableHolder table {
	border: 1px solid #d7dde1;
	margin-bottom: 0;
}

.tableHolder td {
	border-right: 1px solid #d7dde1;
}

.tableHolder tbody tr:nth-of-type(even),
.tableHolder thead tr {
	background-color: #ecf0f3;
}

.tableHolder td {
	border-right: 1px solid #d7dde1;
}

.tableHolder td p {
	margin-bottom: 0;
}

.tableHolder .table th:nth-child(odd) {
	min-width: 100px;
}

.tableHolder .table th:nth-child(2) {
	min-width: 200px;
}

.tableHolder .table th:nth-child(8) {
	min-width: 120px;
}

.tableHolder .table th:nth-child(10) {
	min-width: 103px;
}

.tableHolder .table thead th {
	border-bottom: none;
}

.tableHolder .table td,
.tableHolder .table th {
	border-top: none;
	vertical-align: middle;
}

.blue-txt {
	color: #1062b5;
	font-weight: 500;
}

.grey-txt {
	color: #888f97;
}

.cstmBadge {
	padding: 4px 8px;
	border-radius: 30px;
	white-space: nowrap;
}

.badge-success {
	background-color: #55b003;
}

.badge-warning {
	background-color: #ea940c;
	color: #fff;
}

.badge-secondary {
	background-color: #90a0ac;
}

.openTickets .mainHeading {
	padding: 0 16px 12px;
	border-bottom: 1px solid #d7dde1;
}

.mainHeading h4 {
	font-size: 18px;
	color: #5b6167;
	margin-bottom: 0;
}

.paginationHolder {
	margin: 0 20px;
}

.paginationHolder p {
	color: #5b6167;
	font-size: 13px;
	margin-bottom: 0;
}

.pagination-nav {
	display: inline-block;
}

.pagination-nav a {
	font-size: 13px;
	font-weight: 600;
	color: #5b6167;
	border: none;
	background-color: #ecf0f3;
}

.page-link:focus {
	-webkit-box-shadow: 0 0 0 0.2rem rgba(213, 222, 39, .25);
	        box-shadow: 0 0 0 0.2rem rgba(213, 222, 39, .25);
}

.pagination-nav a.active {
	background-color: #d5de27;
	border-radius: 4px;
}

.pagination-nav .page-item:first-child .page-link {
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
}

.pagination-nav .page-item:last-child .page-link {
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
}

.otherInfoCol {
	padding: 10px 16px 0;
}

.otherInfo {
	padding: 5px 30px;
	margin-bottom: 1px;
	background-color: #f4f7fa;
	color: #5b6167;
	border-radius: 5px;
}

.otherInfo h4,
.otherInfo p {
	margin-bottom: 0;
}

.otherInfoCol .otherInfo:nth-child(odd) {
	background-color: #f2f5c0;
}

.otherInfo h4 {
	font-size: 15px;
	padding-right: 10px;
}

.otherInfo p {
	font-size: 20px;
	font-weight: 700;
	padding-left: 10px;
}

.differentStatistics .openTickets {
	margin: 0;
}

.amenityTable {
	max-height: 300px;
	overflow: auto;
}

.amenityTable .table thead th,
.amenityTable .table tbody td {
	width: 25%;
	padding-left: 30px;
}

.dashboardContentNav {
	width: 77px;
	background-color: #fff;
	margin-left: 18px;
	-webkit-box-shadow: -1px 0 1px rgba(0, 0, 0, 0.05), 1px 0 1px rgba(0, 0, 0, 0.05);
	        box-shadow: -1px 0 1px rgba(0, 0, 0, 0.05), 1px 0 1px rgba(0, 0, 0, 0.05);
	border-top-left-radius: 8px;
	padding: 29px 10px;
}

.listIconRight {
	margin-bottom: 0;
	text-align: center;
}

.listIconRight li+li {
	margin-top: 30px;
}

.dropdown-menuNoti {
	padding: 20px;
}

.userNoti {
	padding-left: 10px;
}

.userNoti p {
	margin-bottom: 0;
}

.notificationCol+.notificationCol {
	margin-top: 20px;
}

.dropdown-menuNoti .mainHeading {
	border-bottom: 1px solid #d7dde1;
	margin-bottom: 20px;
}

.mainHeading h2 {
	margin-bottom: 10px;
}

.notificationCol .userProfPic {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 39px;
	flex: 0 0 39px;
}

.dashboardAside.fixed-top,
.dashboardHeader.fixed-top {
	position: fixed;
}

.dashboardHeader.fixed-top {
	left: 279px;
}

.dashboardContent .fixed-top+.d-flex {
	padding-top: 50px;
}

.viewSideBar .dashboardHeader.fixed-top {
	left: 130px;
}

.dashboardContentNav {
	position: fixed;
	right: 0;
	height: 100vh;
}

.dashboardSec .inputField .form-control {
	height: 40px;
	font-size: 16px;
}

.viewSideBar .sideNav a span {
	font-size: 0;
}
.p20{
	padding: 20px;
}
.iconPlus{
	width: 30px;
    height: 30px;
    background-color: #d5df28;
    border-radius: 50px;
    display: inline-block;
    font-size: 32px;
    color: #000;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
}
.mainHeading a{
	color: #000;
	font-weight: 500;
}
.mainHeading a:hover{
	color: #303030;
}
.mainHeading a span + span{
	padding-left: 4px;
}
.invoiceSec h6{
	color: #5b626a;
	font-size: 16px;
	margin-bottom: 8px;
}
.invoiceSec .progress{
	border-radius: 8px;
}
.invoiceSec .bg-success{
	background-color: #8ccc9a !important;
}
.invoiceSec .bg-warning{
	background-color: #f6ba58 !important;
}
.balanceShow{
	border-radius: 10px;
}
.balanceShow h3{
	margin-bottom: 0;
}
.text-successA{
	color: #55a365;
}
.invoicePaymentCol{
	margin-top: 20px;
}
.balanceShow .custom-select{
	background-color: transparent;
	border:none;
	width: 150px;
	font-size: 1.75rem;
	font-weight: 500;
	padding: 0;
}
.dropdown-menuMeeting{
	min-width: 472px;
	padding: 0;
	border:none;
}
.listIconRight .dropleft .dropdown-toggle::before{
	display: none;
}
.dropdown-menuMeeting .openTickets{
   margin: 0;
}
.dropdownHeadingG a{
	font-size: 30px;
	line-height: 0;
	color: #818181;
	line-height: 29px;
}
.dropdownHeadingG a + a{
	margin-left: 10px;
}

.dropdownHeadingG .close{
	float: inherit;
	opacity: 1;
	height: 28px;
	width: 28px;
	border: 2px solid #818181;
	border-radius: 50px;
	text-align: center;
	line-height: 25px;
	vertical-align: middle;
	color: #818181;
}
.dropdownHeadingG a:hover{
	color: #000;
}
.listingMeeting{
	padding: 24px;
}
.listingMeetingCol, .meetingForm {
	max-height: calc(100vh - 250px);
    overflow: auto;
}
.listingMeeting h4{
	color: #2c2b2b;
	font-size: 17px;
	margin-bottom: 0;
}
.listingIconGroup a + a{
	margin-left: 20px;
}
.listingIconGroup a:hover{
	opacity: 0.8;
}
.listingHeading{
	margin-bottom: 14px;
}
.listingHeadingPara{
	margin-bottom: 15px;
}
.listingHeadingPara p{
	margin-bottom: 0;
	color: #5e5f60;
	font-size: 14px;
}
.listingFooter span{
	padding-left: 8px;
	color: #838383;
	font-size: 13px;
}
.listingIconGroup {
    min-width: 65px;
}
.memberIcon .memberItem{
	width: 50%;
}
.listingMeeting + .listingMeeting{
	border-top: 1px solid #eeeff1;
}
.meetingForm{
	display: none;
}
.meetingFormCol{
	padding: 14px 23px;
}
.meetingHeading{
	padding: 12px 20px;
	margin: 0 -23px 18px;
}
.meetingHeading h4{
	margin-bottom: 0;
	font-size: 18px;
}
/* .custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 2.75rem;
}
.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-radio .custom-control-input~.custom-control-label {
    cursor: pointer;
    font-size: .875rem;
    height: 1rem;
}
.custom-radio .custom-control-label:before {
    border-radius: 50%;
} */
/******************* dashboardPageEnd *******************/

/******************* paymentpage *******************/
.sideNav li img{
	margin-right: 12px;
}
.sideNav li.active a{
	background-color: #f2f5c0;
}
.paymentOption .paymentOptionItem + .paymentOptionItem{
	padding-left: 30px;
}
.paymentOptionItem{
  display: flex;
}
.paymentOptionItem figure{
	margin-bottom: 0;
	margin-right: 8px;
}
.paymentOptionItem span{
	font-size: 16px;
	color: #5b6167;
}
.paymentOption{
	padding: 22px 27px;
}
.transactionHistoryIn{
	padding: 20px 15px;
}
.transactionsA{
	border-bottom: 1px solid #c8c8c8;
}
.transactionsA h5{
	color: #5b6167;
	font-size: 15px;
	margin-bottom: 10px;
}
.transactionsA h2{
	color: #c5cf04;
	font-size: 37px;
	margin-bottom: 15px;
}
.transactionsB{
	padding-top: 10px;
}
.transactionsB .transactionsBItem {
	width: 50%;
	padding: 15px 0;
}
.transactionsB .transactionsBItem + .transactionsBItem{
	border-left:1px solid #c8c8c8;
	padding-left: 15px;
}
.transactionsBItem span{
	color: #454545;
	font-size: 21px;
}
.transactionsBItem span + span{
	padding-left: 5px;
}
.dashboardContentItems .custom-select{
	border:none;
}
.dashboardContentItems .custom-select:focus{
	box-shadow: none;
}
.analystic{
	padding: 15px 0;
}
#myChart {
    height: 280px!important;
}
.btnGroup{
	padding: 20px;
}
.btnGroup a + a{
	margin-left: 28px;
}
.btnGroup a {
	min-width: 212px;
	padding: 14px;
}
.btn-outline-success{
	border:2px solid #d5de27;
	color: #bac306;
	font-size: 18px;
	font-weight: 600;
}
.btn-outline-success:hover{
	background-color: #d5de27;
	color: #202020;
	border-color: transparent;
}
.dashboardContentItemsA{
	width: 98%;
}
#oilChart{
	height: 100% !important;
}
.oilChart{
	/* height: 600px; */
}
/* footer */
.footer {
	padding: 11px 0;
	position: relative;
	z-index: 1233;
}

.footer p {
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 0;
}

/******************* footer *******************/
.dashboardContent .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background-color: #d5df28;
	color: #000;
}
.dashboardContent .btn-primary{
	background-color: #d5df28;
    border-color: #d5df28;
	color: #000;
	min-width: 120px;
	font-weight: 600;
}
.dashboardContent .btn-primary:hover, .dashboardContent .btn-primary:not(:disabled):not(.disabled).active, .dashboardContent .btn-primary:not(:disabled):not(.disabled).active,
.dashboardContent .btn-primary:not(:disabled):not(.disabled):active{
	color: #fff;
	background-color: #929916;
    border-color: #929916;
}
.cstmBadge + .cstmBadge{
	margin-left: 5px;
}
.cstmBadge.customBtn{
	padding: 0;
}
.customBtn .btn, .editBtn{
    border-radius: 5px;
    padding: 5px 10px;
    background: #d5df28;
    color: #fff;
}

.customBtn .btn:hover, .editBtn:hover{
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 0 99999px rgba(0, 0, 0, 0.2);
}
.inputCol{
	display: flex;
	margin: 0 -5px;
  }
  .inputCol + .inputCol{
	padding-top: 10px;
  }
  .inputCol .inputWrap{
	width: 50%;
	padding: 0 5px;
  }
  .inputCol .inputWrap .form-control{
	font-size: 14px;
  }
  .inputCol .inputWrap:only-child{
	width: 100%;
  }
  .inputWrap{
	position: relative;
  }
  /* .inputSelect {
	  position: absolute;
	  left: 10px;
	  top: 5px;
	  z-index: 2;
  } */
  .inputSelect {
    margin-bottom: 10px;
}
  .inputSelect .badge-success{
	background-color: #929916;
  }
  .inputSelect .cstmBadge a{
	color: #000;
  }
  .inputSelect .cstmBadge a {
	  color: #000;
	  font-weight: 800;
	  padding-left: 5px;
  }
  .inputSelect .cstmBadge a:hover{
	text-decoration: none;
	color: #fff;
  }
  .inputCol .form-check{
   padding-left: 24px;
  }
  .tableHolderA{
     margin-top: 0;
  }
  .btnGroupTable{
	  padding-right: 15px;
	  padding-top: 20px;
	  padding-bottom: 5px;
	  display: flex;
	  justify-content: flex-end;
  }
  .btnGroupTable .btn{
	  border-radius: 100%;
  }
  .btnGroupTable .btn + .btn{
	  margin-left: 7px;
  }
  .btnGroupTable .btn-outline-primary.disabled, .btnGroupTable .btn-outline-primary:disabled, .btnGroupTable .btn-outline-primary{
	  border-color: #d7dde1;
	  color:#5b6671 ;
  }
  .btnGroupTable .btn-outline-primary:hover{
	  background-color: #d7dde1;
	  color: #5b6671;
	  border-color: #000;
  }
  .btnGroupTable .btn-outline-primary:not(:disabled):not(.disabled).active, 
  .btnGroupTable .btn-outline-primary:not(:disabled):not(.disabled):active{
	background-color: #dbd058;
	color: #fff;
	border-color: transparent;
  }
  .sideNav li a:hover{
	  text-decoration: none;
	  color: #5b6671;
  }
  .forHeading{
	  background-color: #b1ba08;
	  border-top-left-radius: 10px;
	  border-top-right-radius: 10px;
	  padding: 10px 15px;
  }
  .forHeading h4{
	  margin-bottom: 0;
	  font-size: 16px;
	  color: #fff;
  }
  .forBox{
	border: 1px solid #d7dde1;
	padding: 20px;
	border-radius: 0 0 10px 10px;
  }
  .blockRow {
    padding: 0 15px 20px;
}
.forHeading .d-flex{
	justify-content: space-between;
	align-items: center;
}
.tableHolderB{
	padding: 0;
	margin-bottom: 0;
}
.tableHolderB .table th, .tableHolderB .table td{
 width: 50%;
 min-width: auto;
 font-size: 16px;
}
.tableHolderB .table td{
	font-size: 16px;
	padding: 6px 15px;
}
.editBtn{
   color: #d5df28;
   font-size: 18px;
}
.editBtn:hover{
	color: #d5df28;
}
.forBlock + .forBlock{
	padding-top: 30px;
}
.tableHolderC .table th, .tableHolderC .table td{
 width: auto;
 min-width: 200px;
}
.inputPark{
	position: relative;
}
.manageParking{
	margin-top: -5px;
	margin-bottom: -5px;
}
.manageParking [class*="col-"]{
	padding-top: 5px;
	padding-bottom: 5px;
}
.inputPark .form-control{
	padding-right: 45px;
}
.inputPark button{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}
.inputRow + .inputRow{
	margin-top: 20px;
}
.inputWrap p{
	margin-bottom: 0;
}
.progress__wrapper .progress__block .progress__label{
  min-width: 160px;
  background-color: currentColor;
  min-height: 2px;
}
