<template>
  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModalCenter1"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button
            type="button"
            class="close"
            id="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="text-center">
            <h2>Create Checkpoint</h2>
          </div>
          <form class="userForm">
            <div class="inputCol">
              <div class="inputWrap">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Checkpoint Name"
                  v-model="checkPoint.checkpoint_name"
                />
                <p v-if="addCheckpoint.errors" style="color:red">{{addCheckpoint.errors.checkpoint_name}}</p>
              </div>
            </div>
            <div class="inputCol">
             <div class="inputWrap">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Checkpoint Area"
                  v-model="checkPoint.checkpoint_area"
                />
                <p v-if="addCheckpoint.errors" style="color:red">{{addCheckpoint.errors.checkpoint_area}}</p>
              </div>
            </div>

          <div class="inputCol">
              <label for="" style="margin-left:15px;margin-right:20px;color:#0096fa;"> Active </label>
              <div class="inputWrap">
                <input
                  type="radio"
                  :value="true"
                  id='yes'
                  v-model="checkPoint.is_active"
                /> 
                <label for="yes">Yes</label>
              </div>
              <div class="inputWrap">
                <input
                  type="radio"
                  :value="false"
                  id='no'
                  v-model="checkPoint.is_active"
                /> 
                <label for="no">No</label>
              </div>
            </div>
            <div class="text-center mt-4">
              <button @click.prevent="save" class="btn btn-primary">
                Submit
              </button>
            </div>
            <!-- <p v-if="errors.type === 'error'" style="color: red">
              {{ errors.message }}
            </p> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import vSelect from "vue-select";
import { mapGetters } from "vuex";
import Multiselect from "vue-multiselect";
Vue.component("v-select", vSelect);
import "vue-select/dist/vue-select.css";
export default {
  components: { Multiselect },
  data() {
    return {
        checkPoint:{
            checkpoint_name: "",
            checkpoint_area: "",
            checkpoint_latitude: "22.6395046",
            checkpoint_longitude: "88.4072087",
            is_location_tagged: true,
            is_active: true
        }
    }
    
  },

  computed: {
    ...mapGetters({addCheckpoint:'getAddGuardsPatrollingCheckpoint'}),
  },
  methods: {
    save(){
        this.$store.dispatch('addGuardsPatrollingCheckpoint',this.checkPoint).then(()=>{
            if(!this.addCheckpoint.errors){
                document.getElementById('close').click();
                this.checkPoint={
                    checkpoint_name: "",
                    checkpoint_area: "",
                    checkpoint_latitude: "22.6395046",
                    checkpoint_longitude: "88.4072087",
                    is_location_tagged: true,
                    is_active: true
                    };
            }
        });
    }
  },
};
</script>
<style scoped>
.logoModal {
  margin-bottom: 10px;
  display: block;
}
.userForm {
  padding-top: 20px;
}
.multiselect__tag {
  background: #28a745 !important;
}
</style>