<template>
  <!-- Modal -->
  <div
    class="modal fade"
    id="edit"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button
            type="button"
            class="close"
            id="close1"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="text-center">
            <h2>Edit Checkpoint</h2>
          </div>
          <form class="userForm">
            <div class="inputCol">
              <div class="inputWrap">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Checkpoint Name"
                  v-model="checkPoint.checkpoint_name"
                />
                <p v-if="editCheckpoint.errors" style="color:red">{{editCheckpoint.errors.checkpoint_name}}</p>
              </div>
            </div>
            <div class="inputCol">
             <div class="inputWrap">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Checkpoint Area"
                  v-model="checkPoint.checkpoint_area"
                />
                <p v-if="editCheckpoint.errors" style="color:red">{{editCheckpoint.errors.checkpoint_area}}</p>
              </div>
            </div>

          <div class="inputCol">
              <label for="" style="margin-left:15px;margin-right:20px;color:#0096fa;"> Active </label>
              <div class="inputWrap">
                <input
                  type="radio"
                  :value="1"
                  id='yes'
                  v-model="checkPoint.is_active"
                /> 
                <label for="yes">Yes</label>
              </div>
              <div class="inputWrap">
                <input
                  type="radio"
                  :value="0"
                  id='no'
                  v-model="checkPoint.is_active"
                /> 
                <label for="no">No</label>
              </div>
            </div>
            <div class="text-center mt-4">
              <button @click.prevent="save" class="btn btn-primary">
                Save
              </button>
            </div>
            <!-- <p v-if="errors.type === 'error'" style="color: red">
              {{ errors.message }}
            </p> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import vSelect from "vue-select";
import { mapGetters } from "vuex";
import Multiselect from "vue-multiselect";
Vue.component("v-select", vSelect);
import "vue-select/dist/vue-select.css";
export default {
  components: { Multiselect },
  data() {
    return {
        // checkPoint:{
        //     checkpoint_name: "",
        //     checkpoint_area: "",
        //     checkpoint_latitude: "22.6395046",
        //     checkpoint_longitude: "88.4072087",
        //     is_location_tagged: true,
        //     is_active: true
        // }
    }
    
  },
  props:['checkPoint'],

  computed: {
    ...mapGetters({editCheckpoint:'getEditGuardsPatrollingCheckpoint'}),
  },
  methods: {
    save(){
        if(this.checkPoint.is_location_tagged==1){
            this.checkPoint.is_location_tagged=true;
        }
        else{
            this.checkPoint.is_location_tagged=false;
        }
        if(this.checkPoint.is_active==1){
            this.checkPoint.is_active=true;
        }
        else{
            this.checkPoint.is_active=false;
        }
        let check={
            id:this.checkPoint.id,
            checkpoint_name: this.checkPoint.checkpoint_name,
            checkpoint_area: this.checkPoint.checkpoint_area,
            checkpoint_latitude: this.checkPoint.checkpoint_latitude,
            checkpoint_longitude: this.checkPoint.checkpoint_longitude,
            is_location_tagged: this.checkPoint.is_location_tagged,
            is_active: this.checkPoint.is_active
        }
        this.$store.dispatch('editGuardsPatrollingCheckpoint',check).then(()=>{
            if(!this.editCheckpoint.errors){
                console.log(this.editCheckpoint);
                document.getElementById('close1').click();
            }
        });
    }
  },
};
</script>
<style scoped>
.logoModal {
  margin-bottom: 10px;
  display: block;
}
.userForm {
  padding-top: 20px;
}
.multiselect__tag {
  background: #28a745 !important;
}
</style>