<template>
<div class="forBlock">
     <div class="forHeading" style="margin-bottom:15px;margin-top:15px">
       <div class="d-flex">
          <h4>  Guard Patrolling Checkpoints</h4>
          <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalCenter1">
            <i data-v-6d07042e="" aria-hidden="true" class="fa fa-plus"></i>
            &nbsp;Create Checkpoint
            </button>
            <CModal/>
       </div>
       
     </div>

         
        
     <div class="forBox">
      <div class="table-responsive tableHolder tableHolderB tableHolderC">
       <table class="table" v-if="data.guard_patrolling_checkpoint">
         <thead>
           <tr>
               <th>Checkpoint Name</th>
           <th>Checkpoint Area</th>
           <th>Checkpoint Code</th>
           <th>Checkpoint Location</th>
            <th>Location tagged?</th>
           <th>Status</th>
           <th>Action</th>

           </tr>
           </thead>
           <tbody v-if="data.guard_patrolling_checkpoint.results.length!=0">
             <tr v-for="item of data.guard_patrolling_checkpoint.results" :key="item.id">
                 
                
               <td >
                 {{item.checkpoint_name}}
               </td>
               
               <td>{{item.checkpoint_area}}</td>
               <td>{{item.checkpoint_code}}</td>
               <td>{{item.checkpoint_latitude}}/{{item.checkpoint_longitude}}</td>
               <td>
                   <p v-if="item.is_location_tagged==1">True</p>
                   <p v-else>False</p>
                </td>
               <td>
                   <p v-if="item.is_active==1">Yes</p>
                   <p v-else>No</p>
               </td>
               
               <td >
													<span  class="cstmBadge customBtn">
														<button @click="currentItem(item)"  type="button" class="btn" data-toggle="modal" data-target="#edit">
														<i class="fa fa-edit"></i> 
														</button>
													<EModal
                          :checkPoint="curI"
                          />
													</span>
													<span class="cstmBadge customBtn" >
														<button type="button"   :data-target="'#'+item.id" class="btn">
														<i class="fa fa-trash"></i> 
														</button>
													
													</span>
								  </td>
             </tr>
           </tbody>
            <!-- divide -->
            <tbody v-else>
             <tr >
                 
               No Data
             </tr>
           </tbody>
       </table>
      </div>
     </div>
   </div>
</template>
<script>

import {mapGetters} from 'vuex'
import CModal from './checkPoinCreate.vue'
import EModal from './editCheckpoint.vue'
export default {
  data(){
    return{
          filter:{
              category_id: 0,
              name: "",
              verification_code: "",
          },
          curI:{
             checkpoint_name: "",
            checkpoint_area: "",
            checkpoint_latitude: "22.6395046",
            checkpoint_longitude: "88.4072087",
            is_location_tagged: true,
            is_active: true
          }


    }
  },
  components:{
      CModal,
      EModal
  },
  props:{
   
  },
  methods:{
    currentItem(item){
      this.curI=item;
    },
    currentItemD(){
      // this.curI={};
    },
    idsr(item){
      return '#'+item;
    }
  },
   async fetch(){
     this.$store.dispatch('guardsCheckpoint').then(()=>{
         console.log(this.data)
     });

  },
  computed:{
    ...mapGetters({data:"getGuardsCheckpoint"}),
       
  }, 
  watch:{
   
  }
  
}
</script>