<template>
    <div>
        <Guards/>
    </div>
</template>
<script>
import Guards from '@/components/Guards/guardsPatrollingRoutes/guardPatrollingRoutes.vue'
export default {
    components:{
        Guards
    }    
}
</script>