<template>
<div>
    <Parking/>

</div>
    
</template>

<script>
import Parking from '@/components/Property/parkingSpace/parkingSpace.vue'
export default {
    components:{
        Parking
    }
}
</script>