<template>
    <div class="blockRow">
   <div class="forBlock">
     <div class="forHeading">
       <h4>Parking Setup</h4>
     </div>
     <div class="forBox">
       <form action="">
         <select class="form-control" style="margin-bottom:15px" v-model="park.unit_id">
           <option value="0">Select Units</option>
           <option v-for="item of units" :key="item.id" :value="String(item.id)">{{item.block_name}}-{{item.unit_no}}</option>
         </select>
         <button type="button" style="margin-bottom:15px" class="btn btn-primary" @click="addParkings">
            <i data-v-6d07042e="" aria-hidden="true" class="fa fa-plus"></i>
            &nbsp;Add Parking Space
            </button>
            <br>
            <div class="row manageParking"> 
            <div class="col-6" v-for="item of prk" :key="item.id">
              <div class="inputPark">
              <input type="text" class="form-control" placeholder="Parking Space Name" v-model="item.parking_label">
              <button type="button"  class="btn btn-danger" @click="delParkings(item)">
              &#x2715;
            </button>
            </div>
              </div>
            </div>
             <!-- <p style="color:red" v-if="createBlock.errors">{{createBlock.errors.block_name}}</p> -->
        <button class="btn btn-primary mt-3" @click.prevent="addParking()" >Save</button>
    </form>
     </div>
   </div>
<Tables
:data1="tableData"
/>
</div>
</template>
<script>
import Vue from "vue";
import VueSimpleAlert from "vue-simple-alert";
Vue.use(VueSimpleAlert);
import Tables from './table'
import {mapGetters} from 'vuex'
export default {
    data(){
        return{
          park:{
            parkings:[],
            unit_id:"0"
          },
          prk:[],
          count:1
        }
    },
  methods:{
    addParkings(){
      this.prk.push(({"id":this.count++,"parking_label":""}));
    },
    delParkings(item){
      this.prk.splice(this.prk.indexOf(item),1);
    },
    addParking(){
      if(this.park.unit_id=="0"){
        alert("Please Select a Unit");
      }
      else{
        for(let i of this.prk){
          this.park.parkings.push({"parking_label":i.parking_label});
        }
        this.$store.dispatch('addParking',this.park);
      }
    }
  },
  async fetch(){
     this.$store.dispatch('parking',{txt:''});
     this.$store.dispatch('ParkingUnits');
      this.$store.dispatch('parkingUserDrop');
      this.$store.dispatch('parkingDrop');
  },
  computed:{
    ...mapGetters({tableData:"getParking"}),
    ...mapGetters({units:"getUnitsParking"}),
    ...mapGetters({createBlock:"getParkingDrop"}),
     ...mapGetters({usersData:"getFlatUsersList"}),

     
     ...mapGetters({addVehicleError:"getAddVehicles"}),
     
    pfData(){
        console.log(this.data.blocks.length/this.data.property.no_of_blocks*100+'%');
        return 'width:'+this.data.blocks.length/this.data.property.no_of_blocks*100+'%; background-color:#929916';
    }
  }
  ,
    components:{
        Tables
    }
}
</script>