<template>
<div class="forBlock">
     <div class="forHeading">
       <div class="d-flex">
          <h4>Parking List</h4>
          <button type="button" class="btn btn-light">
            <i data-v-6d07042e="" aria-hidden="true" class="fa fa-download"></i>
            &nbsp;Download Report
            </button>
       </div>
       
     </div>
     <div class="forBox">
       <form action="">
         <select class="form-control" style="margin-bottom:15px" v-model="filter">
           <option value="0">Select Filter Type</option>
           <option value="1">Flat No.</option>
           <option value="2">Owner</option>
           <option value="3">Parking No.</option>
           <option value="4">Vehicle</option>
         </select>
         <select v-if="filter==='1'" class="form-control" style="margin-bottom:15px" v-model="unit">
           <option value="0">Select Unit</option>
           <option v-for="item of units" :key="item.id" :value="item.id">{{item.block_name}}-{{item.unit_no}}</option>
         </select>
          <select v-if="filter==='2'" class="form-control" style="margin-bottom:15px" v-model="owner_id">
           <option value="0">Select User</option>
           <option v-for="item of usersData.users" :key="item.id" :value="item.id">{{item.first_name}} {{item.last_name}}</option>
         </select>
          <select v-if="filter==='3'" class="form-control" style="margin-bottom:15px" v-model="parking_id">
           <option value="0">Select Parking Space</option>
           <option v-for="item of parkDrop" :key="item.id" :value="item.id">{{item.parking_label}}</option>
         </select>
         <input class="form-control" v-if="filter==='4'" type="text" placeholder="Vehicle Number" v-model="vehicle_no">
        

        </form>
      <div class="table-responsive tableHolder tableHolderB tableHolderC">
       <table class="table">
         <thead>
           <tr>
           <th>Flat Name</th> 
           <th>Parking Space</th>
           <th>Resident</th> 
           <th>Vehicle</th>

           </tr>
           </thead>
           <tbody>
             <tr v-for="item of data1.parking_list" :key="item.id">
               
               <td>{{item.block_name}}-{{item.unit_no}}</td>
               <td>
                   <p v-for="i of item.parking_spaces" :key="i.id">
                       {{i.label}}
                       </p></td>
               <td>{{item.unit_occupancies.user.first_name}} {{item.unit_occupancies.user.last_name}}</td>
               <td>
               <p v-for="i of item.vehicle" :key="i.id">{{i.number}}
               </p>
               </td>
             </tr>
           </tbody>
       </table>
      </div>
     </div>
   </div>
</template>
<script>

import {mapGetters} from 'vuex'
export default {
  data(){
    return{
          filter:"0",
          unit:"0",
          vehicle_no:"",
          owner_id:"0",
          parking_id:"0"


    }
  },
  props:{
    data1:{
      required:true
    }
  },
   async fetch(){
     this.$store.dispatch('parking',{txt:''});
     this.$store.dispatch('ParkingUnits');
      this.$store.dispatch('flatUsersList').then(()=>{
        console.log(this.usersData);
      });
      this.$store.dispatch('parkingDrop').then(()=>{
        console.log(this.parkDrop);
      });
  },
  computed:{
    ...mapGetters({units:"getUnitsParking"}),
    ...mapGetters({parkDrop:"getParkingDrop"}),
     ...mapGetters({usersData:"getFlatUsersList"}),
  }, 
  watch:{
    unit:function(){
      this.$store.dispatch('parking',{txt:'&unit_id='+this.unit});
    },
    vehicle_no:function(){
      if(this.vehicle_no.length>=4){
        this.$store.dispatch('parking',{txt:'&vehicle_no='+this.vehicle_no});
      }
    },
    owner_id:function(){
      this.$store.dispatch('parking',{txt:'&owner_id='+this.owner_id});
    },
    parking_id:function(){
      this.$store.dispatch('parking',{txt:'&parking_id='+this.parking_id});
    }
  }
  
}
</script>