<template>
<div class="login-page">
    User
    <button @click="logout">Log out</button>
</div>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    data(){
		return{
			user:{
				email:'',
				password:''
			}
		}
	},

	methods:{
		async logout(){
			await this.$store.dispatch('logoutUser');
			console.log(this.loginResponse.message,this.loginResponse.type);
		}
	},
	computed:{
		...mapGetters({loginResponse:"getLoginResponse"})
	},
	async fetch(){
		if(!this.$auth.loggedIn){
			this.$router.push('/login');
		}
		else{
			console.log("not")
			this.$router.push('/dashboard');
		}
	},
	created(){
		
	}
}
</script>

<style scoped>


</style>
