<template>
<div>
    <Dashboard/>

</div>
    
</template>

<script>
import Dashboard from '@/components/Property/dashboard/dashboard'
export default {
    components:{
        Dashboard
    }
}
</script>