<template>
<div class="blockRow">
   <div class="forBlock">
     <div class="forHeading">
       <h4>Add Units</h4>
     </div>
     <div class="forBox">
       <form action="">
          <div class="inputRow row">
           <div class="inputWrap col-sm-6">
            <input type="text" class="form-control" placeholder="Flat No." v-model="unit.unit_no"> 
            <p style="color:red" v-if="createUnitError.errors">{{createUnitError.errors.unit_no}}</p>
          </div>
          <div class="inputWrap col-sm-6">
             <input type="text" class="form-control" placeholder="Area in Square Ft." v-model="unit.area"> 
             <p style="color:red" v-if="createUnitError.errors">{{createUnitError.errors.area}}</p>
          </div>
        </div>
        <!-- <input type="text" class="form-control" style="margin-bottom:15px" placeholder="Flat No." v-model="unit.unit_no"> 
        <p style="color:red" v-if="createUnitError.errors">{{createUnitError.errors.unit_no}}</p>
        <input type="text" class="form-control" style="margin-bottom:15px" placeholder="Area in Square Ft." v-model="unit.area"> 
         <p style="color:red" v-if="createUnitError.errors">{{createUnitError.errors.area}}</p> -->
        
        <div class="inputRow row">
        <div class="inputWrap col-sm-6">
        <select name="" id="" class="form-control" v-model="unitUserId">
            <option value="0">Select Flat Owner</option>
            <option v-for="item of usersData.users" :key="item.id" :value="item.id">{{item.first_name}} {{item.last_name}} {{item.phone_number}}</option>
        </select>
         <p style="color:red" v-if="createUnitError.errors">{{createUnitError.errors.user_id}}</p>
        </div>
        <div class="inputWrap col-sm-6">
        <select name="" id="" class="form-control" v-model="unit.block_id">
            <option value="0">Select Block</option>
            <option v-for="item of blocks" :key="item.id" :value="item.id">{{item.block_name}}</option>
        </select>
        </div>
        </div>
        <!-- <div class="d-flex" style="margin-bottom:15px">
            <div class="col-sm-4 text-center" style="border:1px solid grey; background-color:white;" @click="countM()">
                <i class="fa fa-minus"></i>
            </div>
            <div class="col-sm-4 text-center" style="border:1px solid grey;background-color:white;">
                {{count}}
            </div>
            <div class="col-sm-4 text-center" style="border:1px solid grey;background-color:white;" @click="count++">
                <i class="fa fa-plus"></i>
            </div>

        </div> -->
        <!-- <div class="d-flex" style="margin-bottom:15px">
            <input type="radio" value="RESIDENTIAL" v-model="unit.unit_category"  id="type" style="margin-bottom:15px;margin-right:10px" placeholder="Block Name"> <label for=""> Residental</label>
            <input type="radio" value="COMMERCIAL" v-model="unit.unit_category"  id="type" style="margin-bottom:15px;margin-left:20px;margin-right:10px" placeholder="Block Name"> <label for=""> Commercial</label>
        </div>  -->

        <div class="row inputRow ">
            <div class="col-sm-6 inputWrap">
                <div class="input-group">
                    <span class="input-group-prepend">
                        <button type="button" class="btn btn-outline-secondary btn-number" @click="countM()">
                            <span class="fa fa-minus"></span>
                        </button>
                    </span>
                    <input type="text" class="form-control text-center" v-model="count">
                    <span class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary btn-number" data-type="plus" @click="count++">
                            <span class="fa fa-plus"></span>
                        </button>
                    </span>
                </div>
            </div>
        <div class="col-sm-6 inputWrap">
            <div class="d-flex h-100 align-items-center">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" v-model="unit.unit_category">
                  <label class="custom-control-label" for="customRadio1">Residental</label>
                </div>
                
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" >
                  <label class="custom-control-label" for="customRadio2">Commercial</label>
                </div>
              <!-- <div class="inputRadio">
                <input type="radio" value="RESIDENTIAL" v-model="unit.unit_category"  id="type"  placeholder="Block Name"> <label for=""> Residental</label>
                </div>
                <div class="inputRadio">
                <input type="radio" value="COMMERCIAL" v-model="unit.unit_category"  id="type"  placeholder="Block Name"> <label for=""> Commercial</label>
                </div> -->
            </div>  
        </div>
        </div>       
         
         <div class="inputRow">
        <input type="text" class="form-control"  v-model="unit.ext_no" placeholder="Extention No.">
        </div>
        <div class="inputRow">
          <div class="custom-control custom-checkbox">
             <input type="checkbox" class="custom-control-input" id="customCheck1" v-model="unit.under_maintenance_billing">
              <label class="custom-control-label" for="customCheck1">Under Maintainence</label>
            </div>  
        <!-- <div class="d-flex">
        <input type="checkbox" v-model="unit.under_maintenance_billing">  <label for=""> Under Maintainence</label>
        </div> -->
        </div>
        <div class="inputRow">
        <div  class="progress">
            <div class="progress-bar" role="progressbar" style="width:0%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
        </div>
        <div class="inputRow">
        <button class="btn btn-primary" @click.prevent="createUnit()" >Save</button>
        </div>
    </form>
     </div>
   </div>
   	<div class="btnGroupTable">
      <button class="btn btn-outline-primary" v-if="tableData.cursors" :disabled="!tableData.cursors.hasPrevious" @click="prev()">
							   <i class="fas fa-chevron-left"></i>
						   </button>
						   <button class="btn btn-outline-primary" v-if="tableData.cursors" :disabled="!tableData.cursors.hasNext" @click="next()">
							   <i class="fas fa-chevron-right"></i>
						   </button>
						</div>
<Tables
:data="tableData"
/>
</div>
</template>
<script>
import Tables from './tables'
import {mapGetters} from 'vuex'
export default {
  // name:'Tables',
    data(){
        return{
           count:0,
           unit:{
            area: "",
            block_id: 0,
            ext_no: "",
            floor: "0",
            under_maintenance_billing: true,
            unit_category: "RESIDENTIAL",
            unit_no: ""
           },
           unitUserId:'0'
        }
    },
    components:{
        Tables
    },
     methods:{
    refresh(){
      this.$store.dispatch('flatUnitList');
      this.$store.dispatch('blocksW');
      this.$store.dispatch('flatUsersList');
      

      console.clear();
		},
    countM(){
      if(this.count>0){
        this.count--;
      }
    },
    next(){
       this.$store.commit('SET_SRCH_PARAMS',{before:'',after:this.tableData.cursors.after});
      this.$store.dispatch('flatUnitList');
    },
    prev(){
       this.$store.commit('SET_SRCH_PARAMS',{before:this.tableData.cursors.before,after:''});
      this.$store.dispatch('flatUnitList');
    },
    createUnit(){
      let dummyUnit={};
      if(this.unitUserId!=0){
          dummyUnit={
              area: this.unit.area,
              block_id: this.unit.block_id,
              ext_no: this.unit.ext_no,
              floor: String(this.count),
              under_maintenance_billing: this.unit.under_maintenance_billing,
              unit_category: this.unit.unit_category,
              unit_no: this.unit.unit_no,
              user_id:this.unitUserId
        }
      }
      else{
           dummyUnit={
               area: this.unit.area,
              block_id: this.unit.block_id,
              ext_no: this.unit.ext_no,
              floor: String(this.count),
              under_maintenance_billing: this.unit.under_maintenance_billing,
              unit_category: this.unit.unit_category,
              unit_no: this.unit.unit_no
        }
      }
      console.log(dummyUnit);
      this.$store.dispatch('createUnit',dummyUnit);
       this.unit={
            area: "",
            block_id: 0,
            ext_no: "",
            floor: "0",
            under_maintenance_billing: true,
            unit_category: "RESIDENTIAL",
            unit_no: ""
           };
           this.unitUserId='0';
    }
  },
  async fetch(){
    this.refresh();
  },
  computed:{
    ...mapGetters({tableData:"getFlatUnitList"}),
    ...mapGetters({blocks:"getBlocksW"}),
     ...mapGetters({usersData:"getFlatUsersList"}),
     
     ...mapGetters({createUnitError:"getCreateUnit"}),
  }
 
  
}
</script>

<style scoped>
  .custom-control-label::after, .custom-control-label::before{
	left: -1.5rem;
}
.inputWrap .custom-control + .custom-control{
	margin-left: 10px;
}
</style>