<template>
<div class="forBlock">
     <div class="forHeading">
       <div class="d-flex">
          <h4>Flat List</h4>
          <button type="button" class="btn btn-light">
            <i data-v-6d07042e="" aria-hidden="true" class="fa fa-download"></i>
            &nbsp;Download Report
            </button>
       </div>
       
     </div>
     <div class="forBox">
       <form action="">
        <input type="text" class="form-control" placeholder="Search With flat No. and Block" v-model="search_params">
    </form>
      <div class="table-responsive tableHolder tableHolderB tableHolderC">
       <table class="table">
         <thead>
           <tr>
           <th>Flat Name</th> 
           <th>Area(Sq.Ft)</th>
           <th>Block</th> 
           <th>Flat Category</th>
           <th>Flat Owner</th> 
           <th>Phone No.</th>
           <th>Extension No.</th> 
           <th>Action</th>
           </tr>
           </thead>
           <tbody>
             <tr v-for="item of data.unit_list" :key="item.id">
               
               <td>{{item.unit_no}}</td>
               <td>{{item.area}}</td>
               <td>{{item.block.block_name}}</td>
               <td>{{item.unit_category}}</td>
               <td v-for="i of item.unit_occupancies" :key="i.id">{{i.user.first_name}} {{i.user.last_name}}</td>
               <td v-for="i of item.unit_occupancies" :key="i.user_id">{{i.user.phone_number}}</td>
               <td v-if="item.unit_occupancies.length==0">N/A</td>
               <td v-if="item.unit_occupancies.length==0">N/A</td>
               <td v-if="item.ext_no">{{item.ext_no}}</td>
               <td v-else>N/A</td>
               <td>
                 <a href="#." class="editBtn">
                   <i data-v-6d07042e="" aria-hidden="true" class="fa fa-edit"></i>
                 </a>
               </td>
             </tr>
           </tbody>
       </table>
      </div>
     </div>
   </div>
</template>
<script>

import {mapGetters} from 'vuex'
export default {
  data(){
    return{
           search_params:''
    }
  },
  props:{
    data:{
      required:true
    }
  }, watch:{
    search_params:function(){
      console.log("1")
      this.$store.commit('SET_SEARCH',{txt:this.search_params});
      this.$store.dispatch('flatUnitList');

    }
  }
  
}
</script>