<template>
    <div>
        <Technicians/>
    </div>
</template>
<script>
import Technicians from '@/components/SupportStuff/Technicians/technicians.vue'
export default {
    components:{
        Technicians
    }    
}
</script>