<template>
    <div>
        <Guards/>
    </div>
</template>
<script>
import Guards from '@/components/Guards/guardsCheckpoint/guardsCheckpoint.vue'
export default {
    components:{
        Guards
    }    
}
</script>