<template>
<div class="blockRow">
   <div class="forBlock">
     <div class="forHeading">
       <h4>Add Vehicles</h4>
     </div>
     <div class="forBox">
       <form action="">
         <div class="inputRow row">
           <div class="inputWrap col-sm-3">
              <select class="form-control" style="margin-bottom:15px" v-model="vehicle.type">
           <option value="0">Select Vehicle Type</option>
           <option value="2">Two Wheeler</option>
           <option value="4">Four Wheeler</option>
         </select>
           </div>
           <div class="inputWrap col-sm-3">
              <input type="text" class="form-control" style="margin-bottom:15px" placeholder="Number" v-model="vehicle.number"> 
        <p style="color:red" v-if="addVehicleError.errors">{{addVehicleError.errors.number}}</p>
           </div>
           <div class="inputWrap col-sm-3">
               <select class="form-control" style="margin-bottom:15px" v-model="vehicle.owner_id">
           <option value="0" >Select Owner</option>
           <option v-for="item of usersData.users" :key="item.id" :value="String(item.id)">{{item.first_name}} {{item.last_name}} {{item.phone_number}}</option>
          </select>
           <p style="color:red" v-if="createBlock.errors">{{createBlock.errors.block_name}}</p>
           </div>
           <div class="inputWrap col-sm-3">
             <button class="btn btn-primary btn-block" @click.prevent="addVehicle()" >Save</button>
           </div>
         </div>
         
        
        
        <!-- <div v-if="data.blocks" class="progress">
            <div class="progress-bar" role="progressbar" :style="pfData" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            {{data.blocks.length}}/{{data.property.no_of_blocks}}  {{pData}}% -->
            <!-- </div> -->
        <!-- </div> -->
        
    </form>
     </div>
   </div>
<Tables
:data1="tableData"
/>
</div>
</template>
<script>

import Vue from "vue";
import vSelect from "vue-select";
Vue.component("v-select", vSelect);
import "vue-select/dist/vue-select.css";
import Tables from './tables'
import {mapGetters} from 'vuex'
export default {
    data(){
        return{
           vehicle:{
             number:"",
             owner_id:"0",
              type:"0"
           }
        }
    },
  methods:{
    refresh(){
      
      this.$store.dispatch('vehicles').then(()=>{
        this.$store.dispatch('flatUsersList');
      this.vehicle={
             number:"",
             owner_id:"0",
              type:0
           }
      });
      
      
      
		},
    // createUnit(){
    //   this.$store.dispatch('createBlock',this.block).then(()=>{
    //     console.log(this.createBlock);
    //     this.block.block_name='';
    //   });
		
    // }
     addVehicle(){
      console.log("add")
      this.$store.dispatch('addVehicle',this.vehicle).then(()=>{
          this.vehicle={
             number:"",
             owner_id:"0",
              type:0
           }
      this.$store.dispatch('vehicles');
      });
     
    }
       
  },
  async fetch(){
    this.refresh();
  },
  computed:{
    ...mapGetters({tableData:"getVehicles"}),
    ...mapGetters({createBlock:"getCreateBlock"}),
     ...mapGetters({usersData:"getFlatUsersList"}),

     
     ...mapGetters({addVehicleError:"getAddVehicles"}),
     pData(){
            
            let a=this.data.blocks.length/this.data.property.no_of_blocks*100;
            console.log(a);

        return String(a).substring(0,5);
    },
    pfData(){
        console.log(this.data.blocks.length/this.data.property.no_of_blocks*100+'%');
        return 'width:'+this.data.blocks.length/this.data.property.no_of_blocks*100+'%; background-color:#929916';
    }
  }
  ,
    components:{
        Tables
    }
}
</script>