<template>
  <div
    class="modal fade"
    :id="id"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button
            type="button"
            class="close"

            id="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="text-center">
             <h2>Edit Vehicle</h2>
          </div>
          <form class="userForm" @submit.prevent="edit">
            <div class="inputCol">
              <div class="inputWrap">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Vehicle Number"
                  v-model="block.number"
                />
                <p style="color:red" v-if="editBlock.errors">{{editBlock.errors.block_name}}</p>
                
              </div>
              <div class="inputWrap">
                 <select class="form-control" style="margin-bottom:15px" v-model="block.owner_id">
                  <option value="0" >Select Owner</option>
                  <option v-for="item of usersData.users" :key="item.id" :value="String(item.id)">{{item.first_name}} {{item.last_name}}</option>
                  </select>
                <p style="color:red" v-if="editBlock.errors">{{editBlock.errors.block_name}}</p>
                
              </div>
              
            </div>
            <div class="text-center mt-4">
              <button type="submit" class="btn btn-primary" >Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  components: {
  },
  props: ["block", "id"],
  data() {
    return {
     
    };
  },
  methods:{
    edit(){
      let vehicle={
        id: this.block.id,
        number: this.block.number,
        owner_id: this.block.owner_id
      }
      this.$store.dispatch('editVehicle',vehicle).then(()=>{
        if(!this.editBlock.errors){
          document.getElementById('close').click();
           const click1=document.querySelector("button[id='close']");
            console.log(click1);
        }
      });
      
    }
  },
  computed: {
    ...mapGetters({editBlock:'getEditVehicles'}),
    ...mapGetters({usersData:"getFlatUsersList"}),
  },
  watch: {}
}
</script>
<style scoped>
.logoModal {
  margin-bottom: 10px;
  display: block;
}
.userForm {
  padding-top: 20px;
}
.multiselect__tag {
  background: #28a745 !important;
}

</style>