<template>
<div class="forBlock">
     <div class="forHeading" style="margin-bottom:15px;margin-top:15px">
       <div class="d-flex">
          <h4>  Guard Logs</h4>
          <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalCenter1">
            <i data-v-6d07042e="" aria-hidden="true" class="fa fa-plus"></i>
            &nbsp;Create Route
            </button>
            <!-- <CModal/> -->
       </div>
       
     </div>
<div class="btnGroupTable" v-if="data.patrolling">
                           <button class="btn btn-outline-primary" :disabled="!data.patrolling.cursors.hasPrevious" @click="prev()">
							   <i class="fas fa-chevron-left"></i>
						   </button>
						   <button class="btn btn-outline-primary"  :disabled="!data.patrolling.cursors.hasNext" @click="next()">
							   <i class="fas fa-chevron-right"></i>
						   </button>
						</div>
         
        
     <div class="forBox">
      <div class="table-responsive tableHolder tableHolderB tableHolderC">
       <table v-if="data.patrolling" class="table" >
         <thead>
           <tr>
               <th>Route Name</th>
           <th>Start Time</th>
           <th>End Time</th>
          <th>Total No. of Checkpoints</th>
           <th>No. of Checkpoints Scanned</th>
           <th>Action</th>

           </tr>
           </thead>
           <tbody v-if="data.patrolling.results.length!=0">
             <tr v-for="item of data.patrolling.results" :key="item.id">
                 
                
               <td >
                 {{item.route_name}}
               </td>
               
               <td>{{item.patrolling_start_datetime}}</td>
               <td>{{item.patrolling_stop_datetime}}</td>
               <td>{{item.total_no_of_checkpoints}}</td>
               <td>
                  {{item.no_of_checkpoints_scanned}}
                </td>
               
               
               <td >
													<span  class="cstmBadge customBtn">
														<button @click="currentItem(item)"  type="button" class="btn" data-toggle="modal" data-target="#edit">
														<i class="fa fa-edit"></i> 
														</button>
													<!-- <EModal
                          :checkPoint="curI"
                          /> -->
													</span>
													<span class="cstmBadge customBtn" >
														<button type="button"   :data-target="'#'+item.id" class="btn">
														<i class="fa fa-trash"></i> 
														</button>
													
													</span>
								  </td>
             </tr>
           </tbody>
            <!-- divide -->
            <tbody v-else>
             <tr >
                 
               No Data
             </tr>
           </tbody>
       </table>
      </div>
     </div>
   </div>
</template>
<script>

import {mapGetters} from 'vuex'
// import CModal from './createPatrollingRoutesModal.vue'
// import EModal from './editCheckpoint.vue'
export default {
  data(){
    return{
          filter:{
              category_id: 0,
              name: "",
              verification_code: "",
          },
          curI:{
             checkpoint_name: "",
            checkpoint_area: "",
            checkpoint_latitude: "22.6395046",
            checkpoint_longitude: "88.4072087",
            is_location_tagged: true,
            is_active: true
          }


    }
  },
  components:{
    //   CModal,
    //   EModal
  },
  props:{
   
  },
  methods:{
    currentItem(item){
      this.curI=item;
    },
    currentItemD(){
      // this.curI={};
    },
    idsr(item){
      return '#'+item;
    },
    prev(){
      this.$store.commit('SET_GUARDS_LOGS_NAVIGATE',{before:this.data.patrolling.cursors.before,after:''}).then(()=>{
        this.$store.dispatch('guardsLogs');
      });
    },
    next(){
      this.$store.commit('SET_GUARDS_LOGS_NAVIGATE',{before:'',after:this.data.patrolling.cursors.after}).then(()=>{
        this.$store.dispatch('guardsLogs');
      });
    }
  },
   async fetch(){
     this.$store.dispatch('guardsLogs').then(()=>{
         console.log(this.data)
     });

  },
  computed:{
    ...mapGetters({data:"getGuardsLogs"}),
       
  }, 
  watch:{
   
  }
  
}
</script>