<template>
  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModalCenter1"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button
            type="button"
            class="close"
            id="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="text-center">
            <h2>Create Route</h2>
          </div>
          <form class="userForm">
            <div class="inputCol">
              <div class="inputWrap">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Route Name"
                  v-model="checkPoint.checkpoint_name"
                />
                <p v-if="addCheckpoint.errors" style="color:red">{{addCheckpoint.errors.checkpoint_name}}</p>
              </div>
            </div>
            <div class="inputCol">
             <div class="inputWrap">
               <label for="">Start Time</label>
               <b-form-timepicker v-model="value" locale="en"></b-form-timepicker>
                <p v-if="addCheckpoint.errors" style="color:red">{{addCheckpoint.errors.checkpoint_area}}</p>
              </div>
              <div class="inputWrap">
               <label for="">End Time</label>
               <b-form-timepicker v-model="value" locale="en"></b-form-timepicker>
                <p v-if="addCheckpoint.errors" style="color:red">{{addCheckpoint.errors.checkpoint_area}}</p>
              </div>
            </div>
          <div class="inputCol">
              <div class="inputWrap">
                <select name="" id="" class="form-control">
                  <option value="">Select Route Frequency</option>
                </select>
              </div>
            </div>
            <div class="inputCol">
              <div class="inputWrap">
                <select name="" id="" class="form-control">
                  <option value="">Select Expected Patrol Duration</option>
                </select>
              </div>
            </div>
            <label for="">Assign Checkpoints</label>
             <div class="inputCol">
               
              <div class="inputWrap">
                <label for="">All Checkpoints</label>
                <b-list-group style="height:100px;overflow: hidden;
    overflow-y: auto;">
                    <b-list-group-item @click="addAcp(item)" v-for="item of cps" :key="item.id" button>{{item.checkpoint_name}}</b-list-group-item>
                </b-list-group>
              </div>
            
           
              <div class="inputWrap">
                <label for="">Assigned Checkpoints</label>
                <b-list-group style="height:100px;overflow: hidden;
    overflow-y: auto;">
                    <b-list-group-item @click="delAcp(item)" v-for="item of acp" :key="item.id" button>{{item.checkpoint_name}}</b-list-group-item>
                </b-list-group>
              </div>
            </div>
            <div class="text-center mt-4">
              <button @click.prevent="save" class="btn btn-primary">
                Submit
              </button>
            </div>
            <!-- <p v-if="errors.type === 'error'" style="color: red">
              {{ errors.message }}
            </p> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import vSelect from "vue-select";
import { mapGetters } from "vuex";
import Multiselect from "vue-multiselect";
Vue.component("v-select", vSelect);
import "vue-select/dist/vue-select.css";
export default {
  components: { Multiselect },
  data() {
    return {
        checkPoint:{
            checkpoint_name: "",
            checkpoint_area: "",
            checkpoint_latitude: "22.6395046",
            checkpoint_longitude: "88.4072087",
            is_location_tagged: true,
            is_active: true
        },
        cps:[],
        acp:[]
    }
    
  },
  async fetch(){
    this.$store.dispatch('guardsPatrollingRoutesCheckpoints').then(()=>{
      this.cps=this.checkpoints.guard_patrolling_checkpoint;
    });
  },

  computed: {
    ...mapGetters({addCheckpoint:'getAddGuardsPatrollingCheckpoint'}),
    ...mapGetters({checkpoints:'getGuardsPatrollingRoutesCheckpoints'}),
  },
  methods: {
    addAcp(item){
      this.acp.push(item);
      this.cps.splice(this.cps.indexOf(item),1);
    },
    delAcp(item){
      this.acp.splice(this.acp.indexOf(item),1);
      this.cps.push(item);
    },
    save(){
        this.$store.dispatch('addGuardsPatrollingCheckpoint',this.checkPoint).then(()=>{
            if(!this.addCheckpoint.errors){
                document.getElementById('close').click();
                this.checkPoint={
                    checkpoint_name: "",
                    checkpoint_area: "",
                    checkpoint_latitude: "22.6395046",
                    checkpoint_longitude: "88.4072087",
                    is_location_tagged: true,
                    is_active: true
                    };
            }
        });
    }
  },
};
</script>
<style scoped>
.logoModal {
  margin-bottom: 10px;
  display: block;
}
.userForm {
  padding-top: 20px;
}
.multiselect__tag {
  background: #28a745 !important;
}
</style>