<template>
<div class="forBlock">
     <div class="forHeading" style="margin-bottom:15px;margin-top:15px">
       <div class="d-flex">
          <h4>  Guard Patrolling Routes</h4>
          <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalCenter1">
            <i data-v-6d07042e="" aria-hidden="true" class="fa fa-plus"></i>
            &nbsp;Create Route
            </button>
            <CModal/>
       </div>
       
     </div>
  <div class="btnGroupTable" v-if="data.guard_patrolling_routes">
                           <button class="btn btn-outline-primary" :disabled="!data.guard_patrolling_routes.cursors.hasPrevious" @click="prev('data.guard_patrolling_routesPrev')">
							   <i class="fas fa-chevron-left"></i>
						   </button>
						   <button class="btn btn-outline-primary"  :disabled="!data.guard_patrolling_routes.cursors.hasNext" @click="next('data.guard_patrolling_routesNext')">
							   <i class="fas fa-chevron-right"></i>
						   </button>
						</div>
         
        
     <div class="forBox">
      <div class="table-responsive tableHolder tableHolderB tableHolderC">
       <table v-if="data.guard_patrolling_routes" class="table" >
         <thead>
           <tr>
               <th>Route Name</th>
           <th>Start Time</th>
           <th>End Time</th>
           <th>Route Frequency</th>
            <th>Expected Patrol Duration</th>
           <th>No. of Checkpoints</th>
           <th>Action</th>

           </tr>
           </thead>
           <tbody v-if="data.guard_patrolling_routes.results.length!=0">
             <tr v-for="item of data.guard_patrolling_routes.results" :key="item.id">
                 
                
               <td >
                 {{item.route_name}}
               </td>
               
               <td>{{item.start_time}}</td>
               <td>{{item.stop_time}}</td>
               <td>{{item.route_frequency}}</td>
               <td>
                  {{item.expected_patrol_duration}}
                </td>
               <td>
                   {{item.total_no_of_checkpoints}}
               </td>
               
               <td >
													<span  class="cstmBadge customBtn">
														<button @click="currentItem(item)"  type="button" class="btn" data-toggle="modal" data-target="#edit">
														<i class="fa fa-edit"></i> 
														</button>
													<!-- <EModal
                          :checkPoint="curI"
                          /> -->
													</span>
													<span class="cstmBadge customBtn" >
														<button type="button"   :data-target="'#'+item.id" class="btn">
														<i class="fa fa-trash"></i> 
														</button>
													
													</span>
								  </td>
             </tr>
           </tbody>
            <!-- divide -->
            <tbody v-else>
             <tr >
                 
               No Data
             </tr>
           </tbody>
       </table>
      </div>
     </div>
   </div>
</template>
<script>

import {mapGetters} from 'vuex'
import CModal from './createPatrollingRoutesModal.vue'
// import EModal from './editCheckpoint.vue'
export default {
  data(){
    return{
          filter:{
              category_id: 0,
              name: "",
              verification_code: "",
          },
          curI:{
             checkpoint_name: "",
            checkpoint_area: "",
            checkpoint_latitude: "22.6395046",
            checkpoint_longitude: "88.4072087",
            is_location_tagged: true,
            is_active: true
          }


    }
  },
  components:{
      CModal,
    //   EModal
  },
  props:{
   
  },
  methods:{
    currentItem(item){
      this.curI=item;
    },
    currentItemD(){
      // this.curI={};
    },
    idsr(item){
      return '#'+item;
    }
  },
   async fetch(){
     this.$store.dispatch('guardsPatrollingRoutes').then(()=>{
         console.log(this.data)
     });

  },
  computed:{
    ...mapGetters({data:"getGuardsPatrollingRoutes"}),
       
  }, 
  watch:{
   
  }
  
}
</script>